body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.otree-timer {
    background: unset;
    border: unset;
    color: grey;
    font-style: italic;
    font-size: 0.75em;
}
.otree-title {
    font-size: 1.5em;
}
.test {
    border: 0.25rem dotted violet;
}
.samples {
    border: 0.25rem dotted orange;
    margin-bottom: 1em;
}
.form-select {
    font-size: 1.5em;
}
fieldset label.col-form-label {
    font-weight: bold;
}
.options {
    margin-bottom: 1em;
    border: 1px dotted grey;
    text-align: center;
}
.p {
    width: 100%;
}
blockquote {
    padding: 1em;
}
.opt1 {
    color: grey;
}
#progress {
    float: left;
    visibility: hidden;
    font-size: 2em;
}
.samples table {
    vertical-align: middle;
}
.samples table tr th {
    font-size: 2em;
    text-align: right;
}
.within {
    border-bottom: none;
    margin: 1em auto;
}
