{{ block title }}
Anspruch prüfen
{{ endblock }}
{{ block content }}
<style>
@import url("{{ static 'knf.css' }}");

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.url {
    border: 2px solid red;
    padding: 5px;
}
.blur {
    filter: blur(4px);
}
</style>

<p>Auf dieser Seite können Sie prüfen, ob Sie einen Anspruch darauf haben, Option 2 noch einmal durchzuführen.</p>

<p>Die E-Mail mit Teilnahmelink sah ungefähr so aus:</p>

<table class="table">
    <tr>
        <th scope="row">Von</th>
        <td>CLER &lt;experiment@lab.uni-koeln.de&gt;</td>
    </tr>
    <tr>
        <th scope="row">An</th>
        <td>Vorname Nachname &lt;email@smail.uni-koeln.de&gt;</td>
    </tr>
    <tr>
        <th scope="row">Datum</th>
        <td>3., 7., 8. oder 9. März 2023</td>
    </tr>
    <tr>
        <th scope="row">Betreff</th>
        <td>Ihre Anmeldung für das heutige Experiment</td>
    </tr>
    <tr>
        <th scope="row">Text</th>
        <td>
            <pre>
Guten Tag Vorname Nachname,

wir möchten Sie an Ihre verbindliche Anmeldung zu folgendem Experiment erinnern:

Name: KNF
Datum und Zeit: Heute zwischen 14 und 18 Uhr (Internet)

Sie können das Experiment heute zu einem beliebigen Zeitpunkt zwischen 14 und 18 Uhr beginnen. Dauer: ca. 25 Minuten. Die Teilnahme ist nur von einem Rechner oder einem Tablet möglich.

Die Auszahlung erfolgt mittels SEPA-Überweisung. Bitte beachten Sie die hier hinterlegten Informationen: https://lab.uni-koeln.de/unbar/

Klicken Sie den folgenden Link erst an, sobald Sie tatsächlich mit dem Experiment beginnen möchten. Der Link wird ab 14 Uhr freigeschaltet.

Zum Experiment: <span class="url"><span class="blur">BitteSehenSieInIhrenEmailsNach</span></span>

Viele Grüße

Kölner Laboratorium für Wirtschaftsforschung
            </pre>
        </td>
    </tr>
</table>

<p>Bitte geben Sie im folgenden Feld den Inhalt des <span class="url">rot umrandeten Feldes</span> <b>aus Ihrer eigenen E-Mail</b> ein. Geben Sie den vollständigen Link an.</p>

<p><b>Wichtig:</b> Ihre Eingabe wird nicht gespeichert oder mit Ihren Auszahlungsdaten verknüpft. Sie wird nur verwendet, um Ihren Anspruch automatisiert zu prüfen. Sollten Sie anspruchsberechtigt sein, wird Option 2 sofort für Sie erneut durchgeführt.</p>

<p><input type="text" size="64" id="url" /></p>

<p><button type="button" class="btn btn-info" onclick="check()">Anspruch prüfen &rarr;</button></p>

<div class="alert alert-danger" role="alert" style="display: none" id="alert">
</div>

<div id="submit" style="display: none">
    {{ next_button }}
</div>

<script>
    function respond(msg) {
        document.getElementById("alert").style.display = "block";
        document.getElementById("alert").innerHTML = msg;

        $(window).scrollTop(1000000);
    }

function show() {
    document.getElementById("submit").style.display = "block";
}

function check() {
    var url = document.getElementById("url").value;

    if (!url.startsWith("https://lab.games")) {
        respond("Der eingegebene Link ist ungültig. Er muss mit <tt>https://lab.games</tt> beginnen. Klicken Sie ggf. den Link aus der E-Mail an und kopieren Sie danach die URL aus der Adresszeile Ihres Browsers in das Feld.");
    }
    else {
        liveSend(url);
    }
}

function liveRecv(data) {
    if (data) {
        setInterval(function () {
            respond("Gratulation. Sie sind anspruchsberechtigt. Klicken Sie auf „Weiter“, um Option 2 erneut durchzuführen.");
            show();

        }, 5000);

        document.forms[0].submit();
    }
    else {
        respond("Leider sind Sie nicht anspruchsberechtigt. Versuchen Sie ggf. eine andere Eingabe.");
    }
}
</script>

{{ endblock }}
