{{ block title }}
    Ende des Experiments
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p>Ihre zusätzliche Auszahlung beträgt <b>{{ player.payoff }}</b>. Diese setzt sich wie folgt zusammen:</p>

    <ul>
        <li>Option 2: Es wurde zufällig bestimmt, dass Sie <b>{{ teil_ausz | to2 }}&thinsp;€</b> erhalten.</li>
    </ul>

    <p>Vielen Dank für Ihre Teilnahme.</p>

    {% if player.payoff > 0 %}
        <p>Auf der nächsten Seite gelangen Sie zum Auszahlungsformular. <b>Bitte tragen Sie sich innerhalb der nächsten Stunde ein.</b></p>

        <p>Sie werden die Auszahlung innerhalb der nächsten drei Wochen erhalten.</p>

        {{ next_button }}
    {% else %}
        <p>Leider erhalten Sie keine zusätzliche Auszahlung, weil Ihre ursprüngliche Auszahlung identisch zur heute gemachten Auszahlung aus Option 2 ist.</p>

        <p>Wir wünschen Ihnen noch einen schönen Tag. Danke, dass Sie Ihren Anspruch geprüft haben. Vielen Dank für Ihr Verständnis.</p>
    {% endif %}

{{ endblock }}
