{{ block title }}
    Part 2: Your own decision
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p><b>Reminder</b>: If <i>p</i> = {{ C.P }}%, the options look like this:</p>

    {{ include 'knf_globals/Options.html' }}

    <p>If this part is relevant for the payout, then you will be paid out the option you personally prefer.</p>

    <p class="alert alert-info">This decision only affects you.</p>

    {{ formfields }}

    <script>
        $(document).ready(function (e) {
            document.getElementById("p.val").innerHTML = {{ C.P }};
            document.getElementById("else").innerHTML = "With <i>{{ C.NOTP }}</i>% probability";

            labels = document.getElementsByTagName("label");

            for (var i = 0; i < labels.length; i++) {
                labels[i].innerHTML = labels[i].innerHTML.replaceAll("&lt;", "<").
                                      replaceAll("&gt;", ">");
            }
        });
    </script>

    {{ next_button }}

{{ endblock }}
