{{ block title }}
    End of Experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p>The experiment has concluded. It was randomly determined that part {{ teil_relevant }} is relevant for the payment.</p>

    <p>Your total payment is <b>{{ player.payoff }}</b>. This consists of the following:</p>

    <ol>
        <li>Punctual appearance: <b>€1.00</b></li>
        <li>Payment from part {{ teil_relevant }}: <b>€{{ teil_ausz | to2 }}</b></li>
    </ol>

    {% if quiz and teil_relevant == 1 %}
        <p><i>The payment for part 1 includes a bonus of €2, as you answered the comprehension questions correctly on the first attempt.</i></p>
    {% endif %}

    <p>Thank you for your participation.</p>

    <p>On the next page you will find the payment form.</p>

    {{ next_button }}

{{ endblock }}
