{{ block title }}
    Your decisions in today's experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>
    
    <script>
        $(document).ready(function () {
            document.getElementsByTagName("textarea")[0].rows = 5;
            document.getElementsByTagName("textarea")[1].rows = 5;
        });
    </script>

    <p>We are interested in why you made the decisions you did in today's experiment. Could you tell us your motives? Thank you. <b>Please explain why you decided (not) to implement the other person's choice at any given time.</b></p>
    
    <p class="alert alert-warning" style="margin-top:1em">Please do not enter any personal data in the following fields.</p>

    {{ formfield "statement" }}

    <p>What do you think: What research question is addressed with this experiment?</p>

    {{ formfield "research" }}

    {{ next_button }}

{{ endblock }}
