{{ block title }}
    Part 2: Your Estimate
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p><b>Reminder</b>: <i>p</i> is the probability of €0 in <b>Option 2</b>. <i>p</i> takes a random whole percentage from 0% to 100% in the future experiment. The exact value of <i>p</i> is not known to the other person.</p>

    <p>Imagine the other person sees the following <span class="samples">result</span> of the draws:</p>

    <script>
        var k = 2, concrete = true, n = 0;
    </script>

    {{ include 'knf_globals/Draws.html' }}

    <p>What do you think: What value of <i>p</i> does the other person assume?</p>

    <p><b>Please give us your best estimate.</b></p>

    <div id="slider">{{ formfield_errors 'estimate' }}</div>

    <script src="{{ static 'otree_slider/mgslider.js' }}"></script>

    <script>
        var slider;

        $(document).ready(function (e) {
            slider = new mgslider("estimate", 0, 100, 1);

            slider.f2s_old = slider.f2s;

            slider.f2s = function (val, detect, digits) {
                return slider.f2s_old(val, detect, digits) + "%";
            }

            slider.yourvalue = "Your estimate";
            slider.print(document.getElementById("slider"));
        });
    </script>

    <style>
        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    {{ next_button }}

{{ endblock }}
