{{ block title }}
    Ihre Entscheidung
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p>Im heutigen Experiment treffen Sie eine Entscheidung zwischen <b>Option 1</b> und <b>Option 2</b>. In der folgenden Tabelle sind die Optionen aufgeführt:</p>

    {{ include 'knf_globals/Options.html' }}

    <p>Der genaue Wert von <i>p</i> wird Ihnen nicht mitgeteilt.</p>

    <p>Der Wert von <i>p</i> wurde zufällig bestimmt. Mit gleicher Wahrscheinlichkeit konnte er irgendeinen ganzen Prozentsatz von 0% bis einschließlich 100% annehmen.</p>

    <p>Obwohl Sie den genauen Wert von <i>p</i> nicht kennen, haben wir <b>Option 2 </b> insgesamt {{ C.K }} mal für Sie gezogen, damit Sie die Option besser einschätzen können.</p>

    <script>
        var k = {{ C.K }}, concrete = true, n = {{ n }};
    </script>

    {{ include 'knf_globals/Draws.html' }}

    <p>Sie werden ggf. einer Versuchsperson aus einem vorherigen Experiment zugeordnet, die entschieden haben kann, ob Ihre Wahl zwischen <b>Option 1</b> oder <b>Option 2</b> tatsächlich umgesetzt wird. Es kann sein, dass stattdessen eine Entscheidung der Versuchsperson aus dem vorherigen Experiment umgesetzt wird.</p>

    {{ formfields }}

    <script>
        $(document).ready(function (e) {
            labels = document.getElementsByTagName("label");

            for (var i = 0; i < labels.length; i++) {
                labels[i].innerHTML = labels[i].innerHTML.replaceAll("&lt;", "<").
                                      replaceAll("&gt;", ">");
            }
        });
    </script>

    {{ next_button }}

{{ endblock }}
