{{ block title }}
    Einverständniserklärung
{{ endblock }}
{{ block content }}

    <p><strong>Titel des Experiments</strong>: KNF</p>
    
    <p><strong>Experimentator</strong>: Max Grossmann, Universität zu Köln (<a href="mailto:mgrossm4@uni-koeln.de">mgrossm4@uni-koeln.de</a>)</p>
    <p><strong>Verantwortlicher für den Datenschutz</strong>:<br />
    Max Grossmann, Universität zu Köln<br />
    Albertus-Magnus-Platz<br />
    50923 Köln<br />
    E-Mail: <a href="mailto:mgrossm4@uni-koeln.de">mgrossm4@uni-koeln.de</a><br />
    Telefon: 0221-470-8667</p>
    <p><strong>Kontaktdaten des Datenschutzbeauftragten</strong>:<br />
    Datenschutzbeauftragter der Universität zu Köln<br />
    Albertus-Magnus-Platz<br />
    50923 Köln<br />
    E-Mail: <a href="mailto:dsb@verw.uni-koeln.de">dsb@verw.uni-koeln.de</a><br />
    Telefon: 0221-470-0</p>
    <p><strong>Ethikkommission</strong>: WiSo Ethics Review Board, Project <b>230005MG</b> (<a href="mailto:erb-application@uni-koeln.de">erb-application@uni-koeln.de</a>)</p>

    <h2>Ihre Teilnahme</h2>
    
    <p>Sie nehmen an einem wissenschaftlichen Experiment zur Entscheidungsfindung teil. Während des Experiments werden Sie Anweisungen lesen, Fragen beantworten und verschiedene Entscheidungen treffen, die sich auf Ihre eigene Auszahlung und die Auszahlung anderer Teilnehmer auswirken können.</p>
    
    <h2>Ihre Auszahlung</h2>
    
    <p>Sie erhalten die Auszahlung per SEPA-Überweisung. Es ist nicht möglich, die Auszahlung anderweitig zu erhalten. Es liegt in Ihrer Verantwortung, das Auszahlungsformular am Ende des Experiments vollumfänglich, wahrheitsgemäß und innerhalb von vier Stunden nach dem Ende des Experiments auszufüllen und den Auszahlungscode für etwaige Rückfragen zu notieren. Andernfalls können Sie leider keine Auszahlung erhalten.</p>
    
    <h2>Ihre Rechte</h2>
    
    <p>Ihre Teilnahme an diesem Experiment ist freiwillig. Damit wir Ihre Daten für Forschungszwecke verwenden können, ist es erforderlich, dass Sie alle Teile des Experiments absolvieren. Sie können jederzeit und ohne Angabe von Gründen von dem Experiment zurücktreten. Wenn Sie sich für einen Rücktritt entscheiden, erhalten Sie 1&thinsp;€ für Ihr pünktliches Erscheinen, aber keine darüber hinausgehende Auszahlung.</p>
    
    <p>Sie müssen Ihre volle Aufmerksamkeit auf das Experiment richten. Deshalb müssen Sie auch innerhalb des oben auf manchen Seiten angezeigten Zeitrahmens reagieren. Der Countdown läuft weiter, auch wenn Sie den Browser schließen! Bei Überschreitung des Zeitlimits ist keine Fortsetzung des Experiments möglich. In diesem Fall erhalten Sie 1&thinsp;€, aber keine darüber hinausgehende Auszahlung. Indem Sie das Zeitlimit absichtlich überschreiten, können Sie auch den Rücktritt vom Experiment vollziehen.</p>

    {{ formfields }}
    {{ next_button }}

{{ endblock }}
