{% extends "Base.html" %}

{% set letter = player.known_letter %}
{% set title = "Just a moment…" %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

<p>This is still <b>Part 3 of 3</b> of today's experiment.</p>

{{ uproot.errors(Form.other_memory) }}

<p>If you answer the following question correctly, you will receive an additional €0.25 in this part. Please recall Person&nbsp;{{ player.known_letter }}. Person&nbsp;{{ player.known_letter }} did not know the probability of €0 in <b>Option 2</b>. However, you have learned that your decision for Person&nbsp;{{ player.known_letter }} can only be implemented if Person&nbsp;{{ player.known_letter }} would have preferred a certain <b>Option</b> had they been fully informed.</p>

<div x-data="{ other_memory: -1 }">
    <p>Assume your decision for Person&nbsp;{{ player.known_letter }} can be implemented.</p>
    <p>Which <b>Option</b> would Person&nbsp;{{ player.known_letter }} have preferred knowing all the circumstances?</p>

    <center class="mb-4">
        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (other_memory != 1), 'btn-primary': (other_memory == 1)}" @click="other_memory = 1">
            Option 1
        </button>

        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (other_memory != 2), 'btn-primary': (other_memory == 2)}" @click="other_memory = 2">
            Option 2
        </button>
    </center>

    <input name="other_memory" x-model="other_memory" type="hidden">
</div>

<style>
.choice {
    min-width: 25%;
}
</style>

{% endblock %}
