{% extends "Base.html" %}

{% set title = "Your Estimate" %}

{% block main %}

<p>This is <b>Part 2 of 3</b> of today's experiment. For your full attention on this page, you will receive an additional <b>€5</b> in this part.</p>

<p>Consider these two <b>Options</b>:</p>

{% with uncertain = True %}
    {% include "Options.html" %}
{% endwith %}

<div class="alert alert-danger" role="alert">
<b>This means:</b>
The probability that the payout for <b>Option 2</b> is €0 is unknown to the participant here.
</div>

<p>In March 2023, we could have presented this choice to 300 other participants of the Cologne Laboratory for Economic Research.</p>

<p><b>Please estimate now:</b> How many of the 300 participants would have chosen <b>Option 1</b>?</p>

{{ uproot.errors(Form.belief2) }}

<div class="form-group" x-data="{ entry: '' }">
    <label class="uproot_formlabel" for="belief2"><label for="belief2">Your Estimate</label></label>
    <small class="form-text text-muted uproot_formdesc">Enter a number between 0 and 300.</small>

    <input id="belief2" max="300" min="0" name="belief2" type="tel" pattern="[0-9]*" inputmode="numeric" x-model="entry" value="" size="5">
    <small class="text-muted" x-show="entry != '' && entry >= 0 && entry <= 300">That's <b x-text="Math.round(entry/3) + '%'"></b> of 300.</small>
</div>

{% endblock %}
