{% extends "Base.html" %}

{% set title = "Your Estimate" %}

{% block main %}

<p>This is <b>Part 2 of 3</b> of today's experiment. On this page, you have the opportunity to win <b>€10</b> by making an accurate estimate.</p>

<p>Please review the two <b>Options</b> again:</p>

{% include "Options.html" %}

<p>In March 2023, we presented this choice to 300 participants at the Cologne Laboratory for Economic Research.</p>

<p><b>Please estimate now:</b> How many of the 300 participants chose <b>Option 1</b>?</p>

<div class="alert alert-primary" role="alert" x-data="{ info: false }">
    The more accurate your estimate, the higher your chance of winning. It is therefore in your own interest to estimate as accurately as possible.

    <button class="btn btn-primary" type="button" @click="info = !info">
        How does this work?
    </button>

    <div x-show="info">
        If your estimate is <i>x</i> and the true (known to us) value is <i>y</i>, then <i>p = </i>max(0, min(1, 1&thinsp;&minus;&thinsp;0.15&middot;|&thinsp;<i>x</i>&thinsp;&minus;&thinsp;<i>y</i>&thinsp;|)) is the probability of winning. <b>Important</b>: You do not need to understand this calculation. However, it is in your own interest to estimate as accurately as possible, as this increases your chances of winning.
    </div>
</div>

{{ uproot.errors(Form.belief1) }}

<div class="form-group" x-data="{ entry: '' }">
    <label class="uproot_formlabel" for="belief1"><label for="belief1">Your Estimate</label></label>
    <small class="form-text text-muted uproot_formdesc">Enter a number between 0 and 300.</small>

    <input id="belief1" max="300" min="0" name="belief1" type="tel" pattern="[0-9]*" inputmode="numeric" x-model="entry" value="" size="5">
    <small class="text-muted" x-show="entry != '' && entry >= 0 && entry <= 300">That's <b x-text="Math.round(entry/3) + '%'"></b> of 300.</small>
</div>

{% endblock %}
