{% extends "Base.html" %}

{% set title = "Consent Form" %}

{% block main %}

<h4>Title of the Experiment</h4>
<p>KNF</p>

<h4>Experimenter</h4>
<p>Max Grossmann, University of Cologne (<a href="mailto:experiment@lab.uni-koeln.de">experiment@lab.uni-koeln.de</a>)</p>

<div class="d-flex flex-wrap">
    <div class="mr-2 flex-fill">
        <h4>Data Protection Officer</h4>

        <p>Max Grossmann, University of Cologne<br />
        Albertus-Magnus-Platz<br />
        50923 Cologne<br />
        Email: <a href="mailto:experiment@lab.uni-koeln.de">experiment@lab.uni-koeln.de</a></p>
    </div>
    <div class="flex-fill">
        <h4>Contact Details of the Data Protection Officer</h4>

        <p>Data Protection Officer of the University of Cologne<br />
        Albertus-Magnus-Platz<br />
        50923 Cologne<br />
        Email: <a href="mailto:dsb@verw.uni-koeln.de">dsb@verw.uni-koeln.de</a><br />
        Phone: 0221-470-0</p>
    </div>
</div>

<h4>Ethics Committee</h4>
<p>German Association for Experimental Economic Research e.V., Approval ID: RNnxiot5 (<a href="mailto:info@gfew.de">info@gfew.de</a>)</p>

<h4>Your Participation</h4>

<p>You are participating in a scientific experiment on decision-making. During the experiment, you will read instructions, answer questions, and make various decisions that will affect your own payout and the payout of other participants.</p>

<h4>Your Payout</h4>

<p>You will receive the payout via bank transfer. No other payment method is available. It is your responsibility to complete the payout form at the end of the experiment fully, truthfully, and within one hour after the end of the experiment, and to note the payout code for any queries. Otherwise, you will unfortunately not receive any payout.</p>

<p>You may only participate in this experiment once. Otherwise, you will not receive any payout.</p>

<h4>Your Rights</h4>

<p>Your participation in this experiment is voluntary. In order for us to use your data for research purposes, it is necessary that you complete all parts of the experiment. You can withdraw from the experiment at any time and without giving any reasons. If you decide to withdraw, you will receive €1 for your timely appearance, but no further payout. To withdraw from participation, simply reply to the email that contained the link to this experiment.</p>

{{ uproot.errors(Form.consent) }}

<div x-data="{ consent: -1 }">
    <p class="mt-5">Do you agree to these terms?</p>

    <center class="mb-4">
        <button type="button" class="choice btn btn-lg" :class="{'btn-outline-success': (consent != 1), 'btn-success': (consent == 1)}" @click="consent = 1">
            Yes
        </button>

        <button type="button" class="choice btn btn-lg" :class="{'btn-outline-danger': (consent != 0), 'btn-danger': (consent == 0)}" @click="consent = 0">
            No
        </button>
    </center>

    <input name="consent" x-model="consent" type="hidden">
</div>

<style>
.choice {
    min-width: 25%;
}
</style>

{% endblock %}
