{% extends "Base.html" %}

{% set letter = Constants.LETTERS[i] %}
{% set title = "Your Decision Regarding Person " + letter %}
{% set buttons = False %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

{% if player.plus %}
{{ uproot.errors(Form.intervene_info) }}
{% endif %}
{{ uproot.errors(Form.info_provided) }}

<p>Person&nbsp;{{ letter }} is faced with a choice between <b>Option 1</b> and <b>Option 2</b>. Today, you can determine how well Person&nbsp;{{ letter }} is informed about <b>Option 2</b>.

{% if player.plus %}
Afterwards, you decide whether the choice made by Person&nbsp;{{ letter }} between the <b>Options</b> is implemented or if you override this choice.
{% else %}
The choice made by Person&nbsp;{{ letter }} between the <b>Options</b> will be implemented. You do not have the option to override this choice.
{% endif %}
</p>

<p>Person&nbsp;{{ letter }} will not know that the information they receive has been set by you.</p>

<div x-data="{ select: -1 }">
    <h2 class="mt-5">Should Person&nbsp;{{ letter }} know the probability of €0 in <b>Option 2</b>?</h2>

    <p class="text-muted">
        Click on the buttons to preview for Person&nbsp;{{ letter }}.
    </p>

    <center class="mb-5">
        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (select != {{ player.suborder2[0] | to(0) }}), 'btn-primary': (select == {{ player.suborder2[0] | to(0) }})}" @click="select = {{ player.suborder2[0] | to(0) }}">
            {% if player.suborder2[0] %}
            No
            {% else %}
            Yes
            {% endif %}
        </button>

        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (select != {{ player.suborder2[1] | to(0) }}), 'btn-primary': (select == {{ player.suborder2[1] | to(0) }})}" @click="select = {{ player.suborder2[1] | to(0) }}">
            {% if player.suborder2[1] %}
            No
            {% else %}
            Yes
            {% endif %}
        </button>
    </center>

    <input type="hidden" name="info_provided" x-model="1-select">

    <div x-show="select == {{ player.suborder2[0] | to(0) }}">
        {% with uncertain = player.suborder2[0] %}
        {% include "Options.html" %}

        {% if uncertain %}
        <p class="text-muted">In this case, Person&nbsp;{{ letter }} would not learn the probability of receiving €0 in <b>Option 2</b>.</p>
        {% else %}
        <p class="text-muted">In this case, Person&nbsp;{{ letter }} would learn the probability of receiving €0 in <b>Option 2</b>.</p>
        {% endif %}
        {% endwith %}
    </div>

    <div x-show="select == {{ player.suborder2[1] | to(0) }}">
        {% with uncertain = player.suborder2[1] %}
        {% include "Options.html" %}

        {% if uncertain %}
        <p class="text-muted">In this case, Person&nbsp;{{ letter }} would not learn the probability of receiving €0 in <b>Option 2</b>.</p>
        {% else %}
        <p class="text-muted">In this case, Person&nbsp;{{ letter }} would learn the probability of receiving €0 in <b>Option 2</b>.</p>
        {% endif %}
        {% endwith %}
    </div>

    <div x-show="select != -1">
        <div class="alert alert-primary mt-5" role="alert">
            Afterwards, Person&nbsp;{{ letter }} will choose between the <b>Options</b>.
        </div>

        <h2 class="mt-5">Regarding the Choice of Person&nbsp;{{ letter }}</h2>

        {% if player.plus %}

        {% with fieldname = "intervene_info" %}
            {% include "Intervene.html" %}
        {% endwith %}

        {% else %}

        <p>Person&nbsp;{{ letter }}’s <b>own choice</b> between <b>Option 1</b> and <b>Option 2</b> will be implemented. You cannot override this choice.</p>

        <div class="mt-5">
            <div class="confirm mt-4">
                <input type="submit" id="submit_button" class="btn btn-primary" name="next" value="{{ _('Continue') }}">
            </div>
        </div>

        {% endif %}
    </div>
</div>

<style>
.choice {
    min-width: 20%;
}
.confirm {
    text-align: center;
}
#intervene_here0 {
    margin-top: 0 !important;
}
#submit_button {
    margin-bottom: 25em;
}
</style>

{% endblock %}
