{% extends "Base.html" %}

{% set title = "Schedule of Today's Experiment" %}
{% set buttons = False %}

{% block main %}

<div x-data="{ tab: 1, ntabs: 2 }">
<!--
    <template x-for="i in ntabs">
        <button type="button" @click="tab = i">Tab <span x-text="i"></span></button>
    </template>
-->

    <div x-show="tab == 1">
        <p>Welcome. Today's experiment consists of three parts and will take about 10 minutes.</p>

        <p>Your final payout is based on the payout of a randomly selected part. The following table shows the probability of each part being selected:</p>

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">Part 1</th>
                    <td>{{(100*Constants.USE1) | to(0) }}%</td>
                </tr>
                <tr>
                    <th scope="row">Part 2</th>
                    <td>{{(100*Constants.USE2) | to(0) }}%</td>
                </tr>
                <tr>
                    <th scope="row">Part 3</th>
                    <td>{{(100*Constants.USE3) | to(0) }}%</td>
                </tr>
            </tbody>
        </table>

        <p>In addition, you will receive <b>€1</b> for being on time. Behave in each part as if it were relevant for the payout.</p>

        <p>All information in this experiment is truthful.</p>
    </div>
    <div x-show="tab == 2">
        <p>In today's experiment, the choice between two <b>Options</b> plays an important role. Please carefully consider <b>Option 1</b> and <b>Option 2</b>:</p>

        {% include "Options.html" %}

        <p><b>Option 1</b> and <b>Option 2</b> remain the same throughout the entire experiment. In a choice between <b>Option 1</b> and <b>Option 2</b>, only one of the two <b>Options</b> can be selected.</p>

        <p>Click "Continue" only after you have understood <b>Option 1</b> and <b>Option 2</b>.</p>
    </div>

    <table width="100%" border="0">
        <tr>
            <td width="50%" align="left">
                <template x-if="tab > 1">
                    <button class="btn btn-primary" type="button" @click="window.scrollTo(0, 0); tab -= 1">Back</button>
                </template>
            </td>
            <td width="50%" align="right">
                <template x-if="tab < ntabs">
                    <button class="btn btn-primary" type="button" @click="window.scrollTo(0, 0); tab += 1">Continue</button>
                </template>

                <template x-if="tab == ntabs">
                    <input type="submit" class="btn btn-primary" name="next" value="Continue">
                </template>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
