{% extends "Base.html" %}

{% set title = "Instructions" %}

{% block main %}

<p>This is <b>Part 3 of 3</b> of today's experiment. In this part, you will receive at least <b>€2.</b></p>

<p>The choice between <b>Option 1</b> and <b>Option 2</b> will also be made by five other people. <b>Today, you have the opportunity to set the rules according to which the other people make <i>their</i> choice.</b> Here are illustrations of these five people:</p>

<center>
    {% for letter in Constants.LETTERS %}
    <img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">
    {% endfor %}
</center>

<p>Each of these five people will be in a specific scenario, which will be described on the following pages. They are five different individuals.</p>

<div class="alert alert-danger" role="alert">
    For each of these five people, a participant from the current series of experiments will be selected to determine the rules for the respective scenario. Therefore, your decisions could be implemented. Your decisions today can have real effects on real people. Please take your decisions seriously.
</div>

<div class="alert alert-primary" role="alert">
    In any case, all five people will make their own choice. However, each of the five people will be informed that their own choice may not be implemented. This is among the things you will determine today. How the five people choose has no significance for your payout in today's experiment.
</div>

<style>
.person {
    max-width: 40%;
}
</style>

{% endblock %}
