{% extends "Base.html" %}

{% set letter = Constants.LETTERS[i] %}
{% set title = "Your Decision Regarding Person " + letter %}
{% set buttons = False %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

{% if player.order[i] == "0" %}
{{ uproot.errors(Form.intervene_0) }}
{% else %}
{{ uproot.errors(Form.intervene_inf) }}
{% endif %}

<p>Person&nbsp;{{ letter }} will see the following before choosing between <b>Option 1</b> and <b>Option 2</b>:</p>

{% if player.order[i] == "0" %}
    {% with uncertain = True %}
        {% include "Options.html" %}
    {% endwith %}
{% else %}
    {% with uncertain = False %}
        {% include "Options.html" %}
    {% endwith %}
{% endif %}

<div class="alert alert-primary" role="alert">
<b>This means:</b>
{% if player.order[i] == "0" %}
Person&nbsp;{{ letter }} knows the possible outcomes and the structure of the <b>Options</b>, but not the probability that the payout in <b>Option 2</b> will be €0.
{% else %}
Person&nbsp;{{ letter }} knows the possible outcomes, the structure of the <b>Options</b>, and also the probability that the payout in <b>Option 2</b> will be €0.
{% endif %}
</div>

{% if player.order[i] == "0" %}
<p>You and only you know that the probability that the payout in <b>Option 2</b> will be €0 is actually 20%.</p>
{% endif %}

<p>Afterwards, Person&nbsp;{{ letter }} will choose between the <b>Options</b>.</p>

{% with fieldname = ("intervene_" + player.order[i]) %}
    {% include "Intervene.html" %}
{% endwith %}

{% endblock %}
