<div x-data="{ select: -1 }" class="intervene_here">
    <p class="mt-5" id="intervene_here0">Should the <b>personal choice</b> of Person&nbsp;{{ letter }} between <b>Option 1</b> and <b>Option 2</b> be implemented for Person&nbsp;{{ letter }}?</p>

    <center class="mb-4">
        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (select != 0), 'btn-primary': (select == 0)}" @click="select = 0">
            Yes
        </button>

        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (select != 9 && select != 1 && select != 2), 'btn-primary': (select == 9 || select == 1 || select == 2)}" @click="select = 9">
            No
        </button>
    </center>

    <div x-show="select > 0" class="mt-5">
        <p>Which <b>Option</b> would you like to implement for the other person, thereby overriding the personal choice of the other person?</p>

        <center class="mb-4">
            <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (select != 1), 'btn-primary': (select == 1)}" @click="select = 1">
                Option 1
            </button>

            <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (select != 2), 'btn-primary': (select == 2)}" @click="select = 2">
                Option 2
            </button>
        </center>
    </div>

    <input id="{{ fieldname }}" name="{{ fieldname }}" x-model="select" value="-1" type="hidden" />

    <div x-show="select == 0 || select == 1 || select == 2" class="confirm mt-5">
        <input type="submit" id="submit_button" class="btn btn-primary" name="next" value="{{ _('Continue') }}">
    </div>

</div>

<style>
.choice {
    min-width: 25%;
}
.confirm {
    text-align: center;
}
.intervene_here {
    margin-bottom: 25em;
}
</style>
