{% extends "Base.html" %}

{% set letter = Constants.LETTERS[i] %}
{% set title = "Your Decision Regarding Person " + letter %}
{% set buttons = False %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

{{ uproot.errors(Form.intervene_known) }}

<p>Person&nbsp;{{ letter }} will see the following before choosing between <b>Option 1</b> and <b>Option 2</b>:</p>

{% with uncertain = True %}
    {% include "Options.html" %}
{% endwith %}

<div class="alert alert-primary" role="alert">
    <b>This means:</b>
    Person&nbsp;{{ letter }} knows the possible outcomes and the structure of the <b>Options</b>, but not the probability that the payout for <b>Option 2</b> will be exactly €0.
</div>

<div class="alert alert-danger mt-5" role="alert" x-data="{ info: false }">
    We guarantee that your following decision can only be implemented if Person&nbsp;{{ letter }} actually prefers <b>Option {{ player.other }}</b> and would choose <b>Option {{ player.other }}</b> if fully informed.

    <button class="btn btn-danger" type="button" @click="info = !info">
        How do we know this?
    </button>

    <span x-show="info">
        Person&nbsp;{{ letter }} will be asked how they would choose between <b>Option 1</b> and <b>Option 2</b> at various possible probabilities for €0 in <b>Option 2</b>. (Person&nbsp;{{ letter }} does not know which probability actually applies.) Your decision today can only be implemented if Person&nbsp;{{ letter }} prefers <b>Option {{ player.other }}</b> when faced with the possibility that the probability for €0 is exactly 20%.
    </span>
</div>

<p class="mt-5">Afterwards, Person&nbsp;{{ letter }} chooses between the <b>Options</b> without knowing the actual probability.</p>

<p>You and only you know that the probability that the payout for <b>Option 2</b> is exactly €0 is actually 20%. Your rule for Person&nbsp;{{ letter }} can only be implemented if Person&nbsp;{{ letter }} would have preferred <b>Option {{ player.other }}</b> under full knowledge of the circumstances.</p>

{% with fieldname = "intervene_known" %}
    {% include "Intervene.html" %}
{% endwith %}

{% endblock %}
