<div class="border mb-3">
    <table class="table table-borderless align-middle options">
        <thead>
            <tr>
                <th width="48%" class="bordered">Option 1</th>
                <th scope="col"></th>
                <th width="48%" class="bordered">Option 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bordered">
                    <p>
                    With 100% probability<br />
                    receive<br />
                    <big>€15</big>
                    </p>
                </td>
                <td>&thinsp;</td>
                <td class="bordered">
                    <p>
                    {% if uncertain %}
                        With <span id="pval" class="blackout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>% probability<br />
                    {% else %}
                        With <span id="pval">20</span>% probability<br />
                    {% endif %}
                    receive<br />
                    <big>€0</big>
                    </p>
                    <hr />
                    <p>
                    <span id="else">Otherwise</span><br />
                    receive<br />
                    <big>€20</big>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
.options {
    margin-bottom: 1em;
    border: none;
    text-align: center;
}
.options .bordered {
    border-bottom: 1px solid black;
}
.blackout {
    background: #808080;
    color: #808080;
}
</style>
