{% extends "Base.html" %}

{% set title = "Your Choice" %}

{% block main %}

<p>This is <b>Part 1 of 3</b> of today's experiment.</p>

{% include "Options.html" %}

{{ uproot.errors(Form.own_preference) }}

<div x-data="{ own_preference: -1 }">
    <p>Which <b>Option</b> would you like to choose for yourself in this part?</p>

    <center class="mb-4">
        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (own_preference != 1), 'btn-primary': (own_preference == 1)}" @click="own_preference = 1">
            Option 1
        </button>

        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (own_preference != 2), 'btn-primary': (own_preference == 2)}" @click="own_preference = 2">
            Option 2
        </button>
    </center>

    <input name="own_preference" x-model="own_preference" type="hidden">
</div>

<style>
.choice {
    min-width: 25%;
}
</style>

{% endblock %}
