{% extends "Base.html" %}

{% set title = "End of the Experiment" %}

{% block main %}

<p>The experiment for today is now concluded.</p>

<p>Your total payout is <b>€{{ player.payoff | to(2) }}</b>. The breakdown of your payout is as follows:</p>

<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">Show-up fee</th>
            <td>
                €1.00
            </td>
        </tr>
        <tr>
            <th scope="row">Part 1</th>
            <td>
            {% if not player.use_payoff1 %}
            <small class="text-muted">Not selected for payout</small>
            {% else %}
            €{{ player.payoffs[0] | to(2) }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Part 2</th>
            <td>
            {% if not player.use_payoff2 %}
            <small class="text-muted">Not selected for payout</small>
            {% else %}
            €{{ player.payoffs[1] | to(2) }}
            {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Part 3</th>
            <td>
            {% if not player.use_payoff3 %}
            <small class="text-muted">Not selected for payout</small>
            {% else %}
            €{{ player.payoffs[2] | to(2) }}
            {% endif %}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td scope="row">Total Payout</td>
            <td>
            €{{ player.payoff | to(2) }}
            </td>
        </tr>
    </tfoot>
</table>

<p>We sincerely thank you for your participation.</p>

<p>Please register in the following payout form within the next hour.</p>

{% if Constants.DEMO %}
<h2>Data</h2>

<p class="text-muted">To be checked by SHKs:</p>

<table class="table table-hover">
    <tbody>
        {% for f in fields %}
        <tr>
            <th scope="row" class="font-monospace">{{ f }}</th>
            <td class="font-monospace">{{ player.latest(f) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
