{% extends "Base.html" %}

{% set letter = Constants.LETTERS[i] %}
{% set title = "Your Decision Regarding Person " + letter %}
{% set buttons = False %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

{{ uproot.errors(Form.intervene_uncertain) }}

<p>Person&nbsp;{{ letter }} is also faced with the choice between <b>Option 1</b> and <b>Option 2</b>. However, it is left to chance how well Person&nbsp;{{ letter }} is informed about <b>Option 2</b>. There is a 50% chance that Person&nbsp;{{ letter }} sees the following:</p>

{% with uncertain = player.suborder[0] %}
    {% include "Options.html" %}

    {% if uncertain %}
    <p class="text-muted">In this case, Person&nbsp;{{ letter }} would not be informed about the probability of receiving €0 in <b>Option 2</b>.</p>
    {% else %}
    <p class="text-muted">In this case, Person&nbsp;{{ letter }} would be informed about the probability of receiving €0 in <b>Option 2</b>.</p>
    {% endif %}
{% endwith %}

<p class="mt-5">Otherwise, Person&nbsp;{{ letter }} receives this information:</p>

{% with uncertain = player.suborder[1] %}
    {% include "Options.html" %}

    {% if uncertain %}
    <p class="text-muted">In this case, Person&nbsp;{{ letter }} would not be informed about the probability of receiving €0 in <b>Option 2</b>.</p>
    {% else %}
    <p class="text-muted">In this case, Person&nbsp;{{ letter }} would be informed about the probability of receiving €0 in <b>Option 2</b>.</p>
    {% endif %}
{% endwith %}

<div class="alert alert-primary mt-5" role="alert">
You know that the probability of the payout being €0 in <b>Option 2</b> is actually 20%. Whether Person&nbsp;{{ letter }} is also aware of this depends on chance. It's akin to a coin toss: either Person&nbsp;{{ letter }} is informed or not. Thus, it is still uncertain how well Person&nbsp;{{ letter }} is informed.
</div>

<p>Afterwards, Person&nbsp;{{ letter }} will choose between the <b>Options</b>.</p>

{% with fieldname = "intervene_uncertain" %}
    {% include "Intervene.html" %}
{% endwith %}

{% endblock %}
