#tabs {
    display: flex;
    flex-direction: row;
}
#tabs .tab {
    flex-grow: 1;
    margin: 0 0.3em 0 0.3em;
}
.tabbable {
    display: none;
    margin-top: 1em;
}
.navbox {
    text-align: left;
}
.navright, .otree-btn-next {
    float: right;
    margin-bottom: 2em;
}
