<script>
function isElementInViewport(el) {
    // CC BY-SA 4.0, (c) Dan with changes by MRPG
    // source: https://stackoverflow.com/a/7557433
    var rect = el.getBoundingClientRect();

    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
}
</script>

<script>
    var started = false;

    function display(n, k) {
        var k1000 = Math.round((n/k)*1000);

        document.getElementById("pie").onload = function (e) {
            if (typeof liveSend != "undefined") {
                liveSend(["animation", n, k]);
            }

            document.getElementById("n_lo").innerHTML = n;
            document.getElementById("n_hi").innerHTML = k-n;

            if (typeof concrete == "undefined") {
                document.getElementById("progress").style.visibility = "visible";

                setTimeout(function (e) {
                    document.getElementById("progress").style.visibility = "hidden";
                }, 500);
            }
        };

        document.getElementById("pie").src = "/static/pie/" + k1000 + ".svg";
    }

    function sim(p) {
        return Math.random() <= p;
    }

    function sim_bin(trials, p) {
        successes = 0;

        for (var i = 0; i < trials; i++) {
            if (sim(p)) {
                successes++;
            }
        }

        return successes;
    }

    function draws() {
        if (typeof live_check != "undefined" && ctid != 5) {
            return;
        }

        if (document.hidden || !isElementInViewport(document.getElementById("n_lo"))) {
            return;
        }

        var n = sim_bin(k, {{ C.P }}/100);
        display(n, k);
    }

    function simulate() {
        if (!started) {
            draws();
            setInterval(draws, 2000);

            started = true;
        }
    }
</script>

<p id="draws_info" class="alert alert-primary" style="margin-top:1em">Für die andere Person wird das Fragezeichen durch das echte Ergebnis der Ziehungen ersetzt. Zur Illustration können Sie auch hier klicken, um alle paar Sekunden beispielhafte Ziehungen durchzuführen: <button type="button" class="btn btn-secondary" onclick="simulate()">Animation starten &#9656;</button></p>

<script>
    $(document).ready(function (e) {
        if (typeof concrete != "undefined" && typeof k != "undefined") {
            document.getElementById("draws_info").style.display = "none";
            display(n, k);
        }
    });
</script>

<div class="samples">
    <span id="progress">🎲</span>

    <table class="table-small align-middle within">
        <tr>
            <td>
                <p><b>Option 2</b> wurde <script>document.write(k)</script> mal gezogen.</p>

                <table class="table" style="width:auto!important;">
                    <tr><td>Anzahl Ziehungen:</td><th><script>document.write(k)</script></th></tr>
                    <tr><td>davon 0&thinsp;€:</td><th id="n_lo">?</th></tr>
                    <tr style="display:none"><td>davon 20&thinsp;€:</td><th id="n_hi">?</th></tr>
                </table>
            </td>
            <td style="min-width:1em">&nbsp;</td> <!-- :-( /-->
            <td>
                <img type="image/svg+xml" id="pie" width="300" height="350" />
            </td>
        </tr>
    </table>
</div>
