<table class="table align-middle options">
    <thead>
        <tr>
            <th width="50%" scope="col">Option 1</th>
            <th scope="col">Option 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                Mit 100%-iger Wahrscheinlichkeit<br />
                <big>15&thinsp;€</big><br />
                erhalten
                </p>
            </td>
            <td>
                <p>
                Mit <i id="p.val">p</i>%-iger Wahrscheinlichkeit<br />
                <big>{{ C.LO }}&thinsp;€</big><br />
                erhalten
                </p>
                <hr />
                <p>
                <span id="else">Andernfalls</span><br />
                <big>{{ C.HI }}&thinsp;€</big><br />
                erhalten
                </p>
            </td>
        </tr>
    </tbody>
</table>
