{{ block title }}
    Teil 1: Informationen zum heutigen Experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p><b>Zur Erinnerung</b>: Die andere Person erfährt nur</p>
    <ul>
        <li>die sichere Auszahlung in Höhe von 15&thinsp;€ von <b>Option 1</b>, und dass sie sicher ist,</li>
        <li>die möglichen Auszahlungsbeträge von <b>Option 2</b>, also {{ C.LO }}&thinsp;€ und {{ C.HI }}&thinsp;€,</li>
        <li>dass die Wahrscheinlichkeit <i>p</i> für 0&thinsp;€ bei <b>Option 2</b> zufällig einen ganzen Prozentsatz von 0% bis einschließlich 100% annimmt, aber nicht den genauen Wert von <i>p</i>,</li>
        <li>ggf. ein <span class="samples">Ergebnis</span> von Ziehungen aus der echten <b>Option 2</b>.</li>
    </ul>

    <p class="alert alert-success">Sie und nur Sie wissen darüber hinaus, dass <i>p</i> für diese Person in Wirklichkeit den Wert {{ C.P }}% annimmt.</p>

    <p>Die tatsächliche Anzahl an Ziehungen wird zufällig bestimmt; somit wird höchstens eine Ihrer Entscheidungen umgesetzt. Sie sollten sich in jeder Entscheidung so verhalten, als würde Ihre Entscheidung umgesetzt werden, denn vielleicht wird sie das.</p>

    {{ next_button }}

{{ endblock }}
