{{ block title }}
    Teil 1: Ihre Entscheidung
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    {% if player.k > 0 and player.k != C.INFINITY %}
        <p><b>Wenn diese Entscheidung zufällig ausgewählt und daher umgesetzt wird, dann</b> sieht die andere Person vor der Entscheidung zwischen <b>Option 1</b> und <b>Option 2</b> {% if player.k > 1 %}das <span class="samples">Ergebnis</span> von {{ player.k }} Ziehungen{% else %}das <span class="samples">Ergebnis</span> von 1 Ziehung{% endif %}:</p>

<!--
            <p class="alert alert-primary" style="margin-top:1em">Die andere Person bekommt <b>genau diese</b> <span class="samples">Beispiele</span> angezeigt:</p>
-->

        <script>
            var k = {{ player.k }};
        </script>

        {{ include 'knf_globals/Draws.html' }}
    {% elif player.k == 0 %}
        <p><b>Wenn diese Entscheidung zufällig ausgewählt und daher umgesetzt wird, dann</b> sieht die andere Person vor der Entscheidung zwischen <b>Option 1</b> und <b>Option 2</b> das <span class="samples">Ergebnis</span> von 0 (also keinen) Ziehungen.</p>
    {% else %}
        <p>Wir führen auch ein Experiment mit einer anderen Person durch, die den genauen Wert von <i>p</i> kennt. Auch für diese Person können Sie eine Entscheidung treffen, die ggf. zufällig ausgewählt und umgesetzt wird. Das Experiment für diese Person ist sonst genauso aufgebaut wie das für die andere Person, die den genauen Wert von <i>p</i> nicht kennt.</p>

        <p><b>Wenn diese Entscheidung zufällig ausgewählt und daher umgesetzt wird, dann</b> erfährt die andere Person vor der Entscheidung zwischen <b>Option 1</b> und <b>Option 2</b> den genauen Wert von <i>p</i>, also {{ C.P }}%.</p>
    {% endif %}

    {% if player.k != C.INFINITY %}
        <p>Hier können Sie auch nochmal die Tabelle, die die andere Person vor der Entscheidung sieht, ansehen:</p>
    {% else %}
        <script>
            $(document).ready(function (e) {
                document.getElementById("p.val").innerHTML = {{ C.P }};
                document.getElementById("else").innerHTML = "Mit <i>{{ C.NOTP }}</i>%-iger Wahrscheinlichkeit";
            });
        </script>

        <p>Hier können Sie die Tabelle, die die andere Person vor der Entscheidung sieht, ansehen:</p>
    {% endif %}

    {{ include 'knf_globals/Options.html' }}

    {% if player.k != C.INFINITY %}
        <p class="alert alert-success">Sie und nur Sie wissen darüber hinaus, dass <i>p</i> für diese Person in Wirklichkeit den Wert {{ C.P }}% annimmt.</p>

        {% if player.treatment == "concrete" %}
        <!-- TODO: beliefs for concrete /-->
        {{ formfield 'belief_p' }}
        {% endif %}
    {% endif %}

    <h3>Ihre Entscheidung</h3>

    <p>Soll die <b>eigene Wahl</b> der anderen Person zwischen <b>Option 1</b> und <b>Option 2</b> für die andere Person umgesetzt werden?</p>

    <center>
        <button type="button" class="choice intervene btn btn-secondary btn-lg" onclick="choice1(this, false)">Ja</button>
        <button type="button" class="choice intervene btn btn-secondary btn-lg" onclick="choice1(this, true)">Nein</button>
    </center>

    <div id="choice2">
        <p>Welche Option möchten Sie für die andere Person umsetzen und somit die eigene Wahl der anderen Person überschreiben?</p>

        <center>
            <button type="button" class="choice intervene_intensive btn btn-secondary btn-lg" onclick="choice2(this, 1)">Option 1</button>
            <button type="button" class="choice intervene_intensive btn btn-secondary btn-lg" onclick="choice2(this, 2)">Option 2</button>
        </center>
    </div>

    <p id="confirm">
        <input type="checkbox" id="confirm_box" oninput="toggle_element('submit', this.checked)" /> Ich möchte meine Entscheidung so wie angegeben treffen.
    </p>

    <input id="intervene" name="intervene" value="-1" type="hidden" />

    <script>
        function intervene_form(value) {
            if (value == 0 || value == 1 || value == 2) {
                document.getElementById("intervene").value = value;
            }
        }

        function toggle(cls, enable) {
            for (var j = 0; j <= 1; j++) {
                document.getElementsByClassName(cls)[j].classList.remove("btn-primary");
                document.getElementsByClassName(cls)[j].classList.add("btn-secondary");
            }

            if (typeof enable != "undefined") {
                enable.classList.remove("btn-secondary");
                enable.classList.add("btn-primary");
            }
        }

        function choice1(el, intervene) {
            document.getElementById("choice2").style.display = intervene ? "block" : "none";

            toggle("intervene", el);

            if (!intervene) {
                intervene_form(0);
                toggle_element("confirm", true);
            }
            else {
                toggle_element("confirm", false);
            }

            toggle("intervene_intensive");
        }

        function choice2(el, value) {
            toggle("intervene_intensive", el);
            intervene_form(value);
            toggle_element("confirm", true);
        }

        function toggle_element(el_short, enable) {
            var el;

            if (el_short == "submit") {
                el = document.getElementsByClassName("submit")[0];
            }
            else {
                el = document.getElementById("confirm");

                document.getElementById("confirm_box").checked = false;
                toggle_element("submit", false);
            }

            if (enable) {
                el.style.visibility = "visible";
            }
            else {
                el.style.visibility = "hidden";
            }
        }
    </script>

    <style>
        .choice {
            min-width: 20%;
        }
        .submit, #confirm {
            visibility: hidden;
        }
        .submit {
            text-align: center;
            margin-bottom: 20em;
        }
        #choice2 {
            display: none;
        }
        #choice2, #confirm {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        #confirm {
            text-align: center;
        }
    </style>

    <div class="submit">
        <button type="button" class="btn btn-primary" onclick="document.forms[0].submit()">Weiter</button>
    </div>

    {{ endblock }}
