{{ block title }}
    Part 1: Information about today's experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p><b>Reminder</b>: The other person only knows</p>
    <ul>
        <li>the certain payment of €15 from <b>Option 1</b>, and that it is certain,</li>
        <li>the possible payment amounts from <b>Option 2</b>, namely €{{ C.LO }} and €{{ C.HI }},</li>
        <li>that the probability <i>p</i> for €0 in <b>Option 2</b> randomly takes on a whole percentage from 0% to and including 100%, but not the exact value of <i>p</i>,</li>
        <li>possibly a <span class="samples">result</span> from draws from the real <b>Option 2</b>.</li>
    </ul>

    <p class="alert alert-success">You and only you know in addition that <i>p</i> for this person actually takes on the value {{ C.P }}%.</p>

    <p>The actual number of draws is determined randomly; thus at most one of your decisions is implemented. You should behave in each decision as if your decision were implemented, because maybe it will be.</p>

    {{ next_button }}

{{ endblock }}
