{{ block title }}
    Part 1: Your Decision
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    {% if player.k > 0 and player.k != C.INFINITY %}
        <p><b>If this decision is randomly selected and thus implemented, then</b> the other person will, before making the choice between <b>Option 1</b> and <b>Option 2</b>, see {% if player.k > 1 %}the <span class="samples">result</span> of {{ player.k }} draws{% else %}the <span class="samples">result</span> of 1 draw{% endif %}:</p>

<!--
            <p class="alert alert-primary" style="margin-top:1em">The other person will see <b>exactly these</b> <span class="samples">examples</span>:</p>
-->

        <script>
            var k = {{ player.k }};
        </script>

        {{ include 'knf_globals/Draws.html' }}
    {% elif player.k == 0 %}
        <p><b>If this decision is randomly selected and thus implemented, then</b> the other person will see a choice between <b>Option 1</b> and <b>Option 2</b> the <span class="samples">result</span> of 0 (i.e. no) draws.</p>
    {% else %}
        <p>We are also conducting an experiment with another person who knows the exact value of <i>p</i>. You can also make a decision for this person, which may be randomly selected and implemented. The experiment for this person is otherwise set up in the same way as for the other person who does not know the exact value of <i>p</i>.</p>

        <p><b>If this decision is randomly selected and thus implemented, then</b> the other person will see a choice between <b>Option 1</b> and <b>Option 2</b> the exact value of <i>p</i>, i.e. {{ C.P }}%.</p>
    {% endif %}

    {% if player.k != C.INFINITY %}
        <p>You can also take a look at the table that the other person sees before the decision:</p>
    {% else %}
        <script>
            $(document).ready(function (e) {
                document.getElementById("p.val").innerHTML = {{ C.P }};
                document.getElementById("else").innerHTML = "With <i>{{ C.NOTP }}</i>% probability";
            });
        </script>

        <p>You can take a look at the table that the other person sees before the decision:</p>
    {% endif %}

    {{ include 'knf_globals/Options.html' }}

    {% if player.k != C.INFINITY %}
        <p class="alert alert-success">You and only you know in addition that <i>p</i> actually takes the value {{ C.P }}% for this person.</p>

        {% if player.treatment == "concrete" %}
        <!-- TODO: beliefs for concrete /-->
        {{ formfield 'belief_p' }}
        {% endif %}
    {% endif %}

    <h3>Your Decision</h3>

    <p>Should the <b>other person's own choice</b> between <b>Option 1</b> and <b>Option 2</b> be implemented for the other person?</p>

    <center>
        <button type="button" class="choice intervene btn btn-secondary btn-lg" onclick="choice1(this, false)">Yes</button>
        <button type="button" class="choice intervene btn btn-secondary btn-lg" onclick="choice1(this, true)">No</button>
    </center>

    <div id="choice2">
        <p>Which option would you like to implement for the other person and thus overwrite the other person's own choice?</p>

        <center>
            <button type="button" class="choice intervene_intensive btn btn-secondary btn-lg" onclick="choice2(this, 1)">Option 1</button>
            <button type="button" class="choice intervene_intensive btn btn-secondary btn-lg" onclick="choice2(this, 2)">Option 2</button>
        </center>
    </div>

    <p id="confirm">
        <input type="checkbox" id="confirm_box" oninput="toggle_element('submit', this.checked)" /> I would like to make my decision as indicated.
    </p>

    <input id="intervene" name="intervene" value="-1" type="hidden" />

    <script>
        function intervene_form(value) {
            if (value == 0 || value == 1 || value == 2) {
                document.getElementById("intervene").value = value;
            }
        }

        function toggle(cls, enable) {
            for (var j = 0; j <= 1; j++) {
                document.getElementsByClassName(cls)[j].classList.remove("btn-primary");
                document.getElementsByClassName(cls)[j].classList.add("btn-secondary");
            }

            if (typeof enable != "undefined") {
                enable.classList.remove("btn-secondary");
                enable.classList.add("btn-primary");
            }
        }

        function choice1(el, intervene) {
            document.getElementById("choice2").style.display = intervene ? "block" : "none";

            toggle("intervene", el);

            if (!intervene) {
                intervene_form(0);
                toggle_element("confirm", true);
            }
            else {
                toggle_element("confirm", false);
            }

            toggle("intervene_intensive");
        }

        function choice2(el, value) {
            toggle("intervene_intensive", el);
            intervene_form(value);
            toggle_element("confirm", true);
        }

        function toggle_element(el_short, enable) {
            var el;

            if (el_short == "submit") {
                el = document.getElementsByClassName("submit")[0];
            }
            else {
                el = document.getElementById("confirm");

                document.getElementById("confirm_box").checked = false;
                toggle_element("submit", false);
            }

            if (enable) {
                el.style.visibility = "visible";
            }
            else {
                el.style.visibility = "hidden";
            }
        }
    </script>

    <style>
        .choice {
            min-width: 20%;
        }
        .submit, #confirm {
            visibility: hidden;
        }
        .submit {
            text-align: center;
            margin-bottom: 20em;
        }
        #choice2 {
            display: none;
        }
        #choice2, #confirm {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        #confirm {
            text-align: center;
        }
    </style>

    <div class="submit">
        <button type="button" class="btn btn-primary" onclick="document.forms[0].submit()">Continue</button>
    </div>

    {{ endblock }}
