{{ block title }}
    Ihre Entscheidungen im heutigen Experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>
    
    <p>Ihre Teilnahme an diesem Experiment ist ein Aspekt eines größeren Forschungsprojektes, das für die Forschenden und die breitere wissenschaftliche Gemeinschaft von großer Wichtigkeit ist. Es ist deshalb auch sehr wichtig, dass Sie Ihre gesamte Aufmerksamkeit auf die Inhalte des Experiments richten, da die Zeit und der Aufwand, den die Forschenden in das Projekt gesteckt haben, sonst zunichte gemacht werden könnten.</p>

    <p>Bitte teilen Sie uns ehrlich mit, ob Sie sich bisher vollends dem Experiment gewidmet haben und ob wir Ihre Daten Ihres Erachtens gebrauchen sollen. <b>Sie werden Ihre Auszahlung erhalten &ndash; unabhängig davon, was Sie hier antworten.</b></p>
    
    {{ formfields }}

    {{ next_button }}

{{ endblock }}
