{{ block title }}
    Teil 1: Informationen zum heutigen Experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");

        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    <script>
        function exhibit(p, from_table) {
            document.getElementById("p.val").innerHTML = p;
            document.getElementById("else").innerHTML = "Mit <i>" + (100-p) + "</i>%-iger Wahrscheinlichkeit";

            if (p == -1) {
                document.getElementById("p.val").innerHTML = "<i>p</i>";
                document.getElementById("else").innerHTML = "Andernfalls";
            }

            if (from_table) {
                $(window).scrollTop(0);
            }
        }
    </script>

    {{ include 'knf_globals/Options.html' }}

    <p>Stellen Sie sich vor, dass wir die Wahl zwischen <b>Option 1</b> und <b>Option 2</b> anderen Teilnehmenden im Rahmen eines Online-Experiments des Kölner Laboratoriums für Wirtschaftsforschung vorlegen. Dabei würde <i>p</i> verschiedene Werte annehmen.</p>

    <p>Für die folgenden Werte von <i>p</i>, was glauben Sie, wie viele von 1.000 anderen Teilnehmenden <b>Option 2</b> bevorzugen? Sie können einen Wert eintragen, indem Sie den blauen Balken anklicken und dann den Schieberegler bewegen. Indem Sie die verschiedenen Werte von <i>p</i> anklicken, können Sie sie in der obigen Tabelle anzeigen.</p>

    <p><b>Bitte geben Sie uns Ihre beste Schätzung.</b></p>

    <div id="tabtop"></div>

    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col"><i>p</i></th>
                <th scope="col">Wie viele von 1.000 anderen Teilnehmenden bevorzugen <b>Option 2</b>?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(0, true)">0%</button></td>
                <td id="slider0">{{ formfield_errors 'p0' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(10, true)">10%</button></td>
                <td id="slider10">{{ formfield_errors 'p10' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(20, true)">20%</button></td>
                <td id="slider20">{{ formfield_errors 'p20' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(30, true)">30%</button></td>
                <td id="slider30">{{ formfield_errors 'p30' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(40, true)">40%</button></td>
                <td id="slider40">{{ formfield_errors 'p40' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(50, true)">50%</button></td>
                <td id="slider50">{{ formfield_errors 'p50' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(60, true)">60%</button></td>
                <td id="slider60">{{ formfield_errors 'p60' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(70, true)">70%</button></td>
                <td id="slider70">{{ formfield_errors 'p70' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(80, true)">80%</button></td>
                <td id="slider80">{{ formfield_errors 'p80' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(90, true)">90%</button></td>
                <td id="slider90">{{ formfield_errors 'p90' }}</td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-secondary" onclick="exhibit(100, true)">100%</button></td>
                <td id="slider100">{{ formfield_errors 'p100' }}</td>
            </tr>
        </tbody>
    </table>

    <div id="tabbottom"></div>

    <script src="{{ static 'otree_slider/mgslider.js' }}"></script>

    <script>
        function blink(sl) {
            document.getElementById(sl.id("wrapper")).style.background = "#f1f5b9";

            if (typeof sl.timer != "undefined" && sl.timer != null) {
                window.clearTimeout(sl.timer);
                sl.timer = null;
            }

            sl.timer = window.setTimeout(function () {
                document.getElementById(sl.id("wrapper")).style.background = "unset";
            }, 2000);
        }

        $(document).ready(function (e) {
            for (p = 0; p <= 100; p += 10) {
                var cslider = new mgslider("p" + p, 0, 1000, 1);
                cslider.yourvalue = "Ihre Schätzung";
                cslider.print(document.getElementById("slider" + p));
                cslider.p = p;

                cslider.hook = function (slider, value) {
                    var is_monotonous = true;

                    for (p_ = 0; p_ <= 100; p_ += 10) {
                        var cur_x = obtain(p_);

                        if (p_ < slider.p && !isNaN(cur_x) && cur_x < value) {
                            mgsliders.lookup("p" + p_).change(value, true);
                            blink(mgsliders.lookup("p" + p_));
                        }
                        else if (p_ > slider.p && !isNaN(cur_x) && cur_x > value) {
                            mgsliders.lookup("p" + p_).change(value, true);
                            blink(mgsliders.lookup("p" + p_));
                        }
                    }
                };
            }
        });

        function obtain(p) {
            return parseInt(document.getElementsByName("p" + p)[0].value);
        }

        function reenable_button() {
            window.setTimeout(function () {
                document.getElementsByClassName("btn-primary")[0].disabled = false;
            }, 1000);
        }

        document.forms[0].onsubmit = function (e) {
            for (p = 0; p <= 100; p += 10) {
                var cur_x = obtain(p);

                if (isNaN(cur_x)) {
                    alert("Es fehlt Ihre Schätzung zu " + p + "%.");
                    reenable_button();

                    return false;
                }
            }
        }
    </script>

    {{ next_button }}

{{ endblock }}
