{{ block title }}
    Teil 1: Informationen zum heutigen Experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");

        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .otree-btn-next {
            visibility: hidden;
        }
    </style>

    <script>
        function exhibit(p, from_table) {
            document.getElementById("p.val").innerHTML = p;
            document.getElementById("else").innerHTML = "Mit <i>" + (100-p) + "</i>%-iger Wahrscheinlichkeit";

            document.getElementsByClassName("otree-btn-next")[0].style.visibility = "visible";
        }
    </script>

    <p>Stellen Sie sich eine Wahl zwischen zwei Optionen vor (<b>Option 1</b> und <b>Option 2</b>). <b>Option 1</b> zahlt immer 15&thinsp;€ aus. Hingegen zahlt <b>Option 2</b> entweder {{ C.LO }}&thinsp;€ oder {{ C.HI }}&thinsp;€ aus. Bitte sehen Sie sich die nächste Tabelle an.</p>

    {{ include 'knf_globals/Options.html' }}

    <p>Die Wahrscheinlichkeit des niedrigen Ergebnisses bei <b>Option 2</b> beträgt <i>p</i>%.</p>

    <p>Wenn <i>p</i> = 0% wäre, dann würde <b>Option 2</b> einer sicheren Auszahlung von {{ C.HI }}&thinsp;€ entsprechen. Wenn <i>p</i> = 100% wäre, dann würde <b>Option 2</b> einer sicheren Auszahlung von {{ C.LO }}&thinsp;€ entsprechen.</p>

    <p>Indem Sie den folgenden Schieberegler bewegen, können Sie sich ansehen, wie sich <b>Option 2</b> ändert, je nachdem, wie hoch oder niedrig <i>p</i> ist. Dies dient nur Ihrer Information. Bitte bewegen Sie diesen Schieberegler und beobachten Sie die Änderung in der obigen Tabelle:</p>

    <table border="0" width="100%" style="margin-bottom:2em">
        <tr>
            <td>0%&nbsp;</td>
            <td width="100%"><input type="range" min="0" max="100" value="50" id="p" class="p" oninput="exhibit(this.value)" /></td>
            <td>&nbsp;100%</td>
        </tr>
    </table>

    {{ next_button }}

{{ endblock }}
