{{ block title }}
    Teil 1: Informationen zum heutigen Experiment
{{ endblock }}
{{ block content }}

    <style>
        @import url("{{ static 'knf.css' }}");
        @import url("{{ static 'tabs.css' }}");

        ul {
            list-style: none;
        }
        ul li:before {
            content: '✓';
        }
    </style>

    <script src="{{ static 'tabs.js' }}"></script>

    <script>
        $(document).ready(function () {
            tabinit();

            {% if player.attempts == 0 %}
                tabshow(1);
            {% else %}
                tabshow(6);
            {% endif %}
        });
    </script>

    <div id="tabs">
        <button type="button" data-tab="1" class="tab">1</button>
        <button type="button" data-tab="2" class="tab">2</button>
        <button type="button" data-tab="3" class="tab">3</button>
        <button type="button" data-tab="4" class="tab">4</button>
        <button type="button" data-tab="5" class="tab">5</button>
        <button type="button" data-tab="6" class="tab">6</button>
    </div>

    <div class="tabbable" id="tabbable1">
        <p>Wenn dieser Teil für die Auszahlung relevant ist, erhalten Sie mindestens 4&thinsp;€.</p>

        <p>In diesem Teil des heutigen Experiments werden Sie Entscheidungen treffen, die eine(n) andere(n) Teilnehmende(n) in einem zukünftigen Online-Experiment am Kölner Laboratorium für Wirtschaftsforschung betreffen werden. Wir bezeichnen diese zukünftige Person im Folgenden als <b>andere Person</b>.</p>
    </div>

    <div class="tabbable" id="tabbable2">
        <p>Die andere Person wird eine Wahl zwischen <b>Option 1</b> und <b>Option 2</b> treffen. Zur Erinnerung: <b>Option 1</b> zahlt immer 15&thinsp;€ aus. Hingegen zahlt <b>Option 2</b> entweder {{ C.LO }}&thinsp;€ oder {{ C.HI }}&thinsp;€ aus. Der anderen Person zeigen wir die folgende Tabelle:</p>

        {{ include 'knf_globals/Options.html' }}
    </div>

    <div class="tabbable" id="tabbable3">
        <p><b>Die andere Person kennt den genauen Wert von <i>p</i> nicht.</b></p>

        <p>Die andere Person weiß aber: Der Wert von <i>p</i> wird zufällig bestimmt. Mit gleicher Wahrscheinlichkeit wird <i>p</i> irgendeinen ganzen Prozentsatz von 0% bis einschließlich 100% annehmen.</p>

        <p>Heute treffen Sie eine Entscheidung für die andere Person, wenn <i>p</i> zufälligerweise genau {{ C.P }}% beträgt.</p>

        <p><small>Da es mehrere Entscheider*innen wie Sie gibt, die über eine andere Person entscheiden, deren <i>p</i> den Wert {{ C.P }}% annimmt, wird Ihre Entscheidung nur umgesetzt, wenn Sie zufällig unter allen passenden Entscheider*innen ausgewählt wurden.</small></p>

        <p><b>Sie sollten sich in jeder Entscheidung so verhalten, als würde Ihre Entscheidung umgesetzt werden, denn vielleicht wird sie das.</b></p>
    </div>

    <div class="tabbable" id="tabbable4">
        <p>Sie können im Folgenden entscheiden,</p>

        <ol>
            <li>ob die eigene Wahl der anderen Person zwischen <b>Option 1</b> und <b>Option 2</b> umgesetzt wird oder</li>
            <li>ob Sie <b>Option 1</b> oder <b>Option 2</b> umsetzen und die Wahl der anderen Person überschreiben.</li>
        </ol>

        <p>Auf jeden Fall wird die andere Person zwischen <b>Option 1</b> und <b>Option 2</b> wählen. Sie können nur entscheiden, ob diese eigene Wahl der anderen Person umgesetzt wird.</p>

        <p>Wenn Sie entscheiden, dass die eigene Wahl der anderen Person umgesetzt wird, dann erhält die andere Person <b>Option 1</b> oder <b>Option 2</b>, je nachdem, wie sie sich selbst entscheidet.</p>

        <p>Wenn Sie entscheiden, <b>Option 1</b> oder <b>Option 2</b> umzusetzen und die Wahl der anderen Person zu überschreiben, dann trifft die andere Person zwar eine Wahl, aber sie erhält stattdessen <b>Option 1</b> oder <b>Option 2</b>, je nachdem, wie Sie sich heute entscheiden. In diesem Fall würde die eigene Wahl der anderen Person nicht berücksichtigt.</p>
    </div>

    <div class="tabbable" id="tabbable5">
        <p>Vor der Wahl zwischen <b>Option 1</b> und <b>Option 2</b> sieht die andere Person ggf. noch das <span class="samples">Ergebnis</span> von Ziehungen aus <b>Option 2</b>.</p>

        <p>Wie viele Ziehungen für die andere Person durchgeführt werden, wird zufällig bestimmt. Sie werden heute für verschiedene Anzahlen an Ziehungen eine Entscheidung treffen.</p>

        <p>Den Ziehungen liegt <i>p</i> = 20% zugrunde. Durch das <span class="samples">Ergebnis</span> der Ziehungen kann die andere Person mehr über <b>Option 2</b> lernen, aber sie erfährt nicht den genauen Wert von <i>p</i>.</p>

        <p>Zum Beispiel könnte die andere Person das <span class="samples">Ergebnis</span> von 5 Ziehungen sehen:</p>

        <script>
            var k = 5, live_check = true;
        </script>

        {{ include 'knf_globals/Draws.html' }}
    </div>

    <div class="tabbable" id="tabbable6">
        <p>Bevor Sie entscheiden können, beantworten Sie bitte die folgenden Verständnisfragen.</p>

        <p class="alert alert-info">Wenn Sie alle Verständnisfragen im ersten Versuch richtig beantworten und dieser Teil für die Auszahlung ausgewählt wird, erhalten Sie einen Bonus in Höhe von 2&thinsp;€.</p>

        {{ formfields }}

        <script>
            $(document).ready(function (e) {
                labels = document.getElementsByTagName("label");

                for (var i = 0; i < labels.length; i++) {
                    labels[i].innerHTML = labels[i].innerHTML.replaceAll("&lt;", "<").
                                          replaceAll("&gt;", ">");
                }
            });
        </script>

        {{ next_button }}
    </div>

{{ endblock }}
