{{ block title }}
    Herzlich willkommen
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <div id="mobile"></div>

    <script>
        $(document).ready(function () {
            if (window.innerWidth < 800) {
                document.getElementById("mobile").innerHTML = "<p class='alert alert-danger'>Dieses Experiment ist nur auf Endgeräte ausgelegt, deren Bildschirm eine Mindestbreite von 800 Pixeln aufweist. Bitte rufen Sie das Experiment auf einem solchen Endgerät erneut auf. Ggf. ist es ausreichend, dass Sie dieses Fenster maximieren.</p>";
            }
            else {
                document.forms[0].submit();
            }
        });
    </script>

{{ endblock }}
