{{ block title }}
    Wichtige Informationen
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p>Im heutigen Experiment treffen Sie Entscheidungen für sich und andere.</p>

    <p>Bitte richten Sie Ihre gesamte Aufmerksamkeit auf die Inhalte des Experiments. Um eine Auszahlung zu erhalten, ist es erforderlich, dass Sie später erscheinende Verständnisfragen richtig beantworten.</p>

    <p>Das Experiment besteht aus zwei Teilen (Teil 1 und Teil 2). Sie werden nur für einen der beiden Teile ausgezahlt. Mit 95%-iger Wahrscheinlichkeit ist Teil 1 für die Auszahlung relevant, und mit der restlichen Wahrscheinlichkeit ist Teil 2 für die Auszahlung relevant. Zudem erhalten Sie für das pünktliche Erscheinen 1&thinsp;€.</p>

    {{ next_button }}

{{ endblock }}
