{{ block title }}
    Consent Form
{{ endblock }}
{{ block content }}

    <p><strong>Title of the Experiment</strong>: KNF</p>
    
    <p><strong>Experimenter</strong>: Max Grossmann, University of Cologne (<a href="mailto:mgrossm4@uni-koeln.de">mgrossm4@uni-koeln.de</a>)</p>
    <p><strong>Data Protection Officer</strong>:<br />
    Max Grossmann, University of Cologne<br />
    Albertus-Magnus-Platz<br />
    50923 Cologne<br />
    E-Mail: <a href="mailto:mgrossm4@uni-koeln.de">mgrossm4@uni-koeln.de</a><br />
    Phone: 0221-470-8667</p>
    <p><strong>Contact Details of the Data Protection Officer</strong>:<br />
    Data Protection Officer of the University of Cologne<br />
    Albertus-Magnus-Platz<br />
    50923 Cologne<br />
    E-Mail: <a href="mailto:dsb@verw.uni-koeln.de">dsb@verw.uni-koeln.de</a><br />
    Phone: 0221-470-0</p>
    <p><strong>Ethics Committee</strong>: WiSo Ethics Review Board, Project <b>230005MG</b> (<a href="mailto:erb-application@uni-koeln.de">erb-application@uni-koeln.de</a>)</p>

    <h2>Your Participation</h2>
    
    <p>You are taking part in a scientific experiment on decision-making. During the experiment, you will read instructions, answer questions, and make various decisions that can affect your own payout and the payout of other participants.</p>
    
    <h2>Your Payout</h2>
    
    <p>You will receive the payout via SEPA transfer. It is not possible to receive the payout in any other way. It is your responsibility to fill out the payout form completely, truthfully, and within four hours of the end of the experiment, and to note the payout code for any queries. Otherwise, unfortunately, you will not be able to receive the payout.</p>
    
    <h2>Your Rights</h2>
    
    <p>Your participation in this experiment is voluntary. In order for us to use your data for research purposes, it is necessary for you to complete all parts of the experiment. You can withdraw from the experiment at any time and without giving any reasons. If you decide to withdraw, you will receive €1 for your punctual appearance, but no further payout.</p>
    
    <p>You must pay full attention to the experiment. Therefore, you must also respond within the time frame displayed on some pages. The countdown continues even if you close the browser! If the time limit is exceeded, it is not possible to continue the experiment. In this case, you will receive €1, but no further payout. By deliberately exceeding the time limit, you can also withdraw from the experiment.</p>

    {{ formfields }}
    {{ next_button }}

{{ endblock }}
