{{ block title }}
    Your decisions in today's experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>
    
    <p>Your participation in this experiment is an aspect of a larger research project that is of great importance to the researchers and the broader scientific community. It is therefore very important that you pay full attention to the contents of the experiment, as the time and effort that the researchers have put into the project could otherwise be wasted.</p>

    <p>Please honestly tell us if you have been fully devoted to the experiment so far and if we should use your data in your opinion. <b>You will receive your payout regardless of what you answer here.</b></p>
    
    {{ formfields }}

    {{ next_button }}

{{ endblock }}
