{{ block title }}
    Part 1: Information about today's experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");

        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .otree-btn-next {
            visibility: hidden;
        }
    </style>

    <script>
        function exhibit(p, from_table) {
            document.getElementById("p.val").innerHTML = p;
            document.getElementById("else").innerHTML = "With a <i>" + (100-p) + "</i>% probability";

            document.getElementsByClassName("otree-btn-next")[0].style.visibility = "visible";
        }
    </script>

    <p>Imagine a choice between two options (<b>Option 1</b> and <b>Option 2</b>). <b>Option 1</b> always pays out €15. On the other hand, <b>Option 2</b> pays out either €{{ C.LO }} or €{{ C.HI }}. Please take a look at the next table.</p>

    {{ include 'knf_globals/Options.html' }}

    <p>The probability of the low outcome for <b>Option 2</b> is <i>p</i>%.</p>

    <p>If <i>p</i> = 0%, then <b>Option 2</b> would be equivalent to a sure payment of €{{ C.HI }}. If <i>p</i> = 100%, then <b>Option 2</b> would be equivalent to a sure payment of €{{ C.LO }}.</p>

    <p>By moving the following slider, you can see how <b>Option 2</b> changes depending on how high or low <i>p</i> is. This is for your information only. Please move this slider and observe the change in the table above:</p>

    <table border="0" width="100%" style="margin-bottom:2em">
        <tr>
            <td>0%&nbsp;</td>
            <td width="100%"><input type="range" min="0" max="100" value="50" id="p" class="p" oninput="exhibit(this.value)" /></td>
            <td>&nbsp;100%</td>
        </tr>
    </table>

    {{ next_button }}

{{ endblock }}
