{{ block title }}
    Part 1: Information about today's experiment
{{ endblock }}
{{ block content }}

    <style>
        @import url("{{ static 'knf.css' }}");
        @import url("{{ static 'tabs.css' }}");

        ul {
            list-style: none;
        }
        ul li:before {
            content: '✓';
        }
    </style>

    <script src="{{ static 'tabs.js' }}"></script>

    <script>
        $(document).ready(function () {
            tabinit();

            {% if player.attempts == 0 %}
                tabshow(1);
            {% else %}
                tabshow(6);
            {% endif %}
        });
    </script>

    <div id="tabs">
        <button type="button" data-tab="1" class="tab">1</button>
        <button type="button" data-tab="2" class="tab">2</button>
        <button type="button" data-tab="3" class="tab">3</button>
        <button type="button" data-tab="4" class="tab">4</button>
        <button type="button" data-tab="5" class="tab">5</button>
        <button type="button" data-tab="6" class="tab">6</button>
    </div>

    <div class="tabbable" id="tabbable1">
        <p>If this part is relevant for the payment, you will receive at least €4.</p>

        <p>In this part of today's experiment, you will make decisions that will affect another participant in a future online experiment at the Cologne Laboratory for Economic Research. We refer to this future person as the <b>other person</b>.</p>
    </div>

    <div class="tabbable" id="tabbable2">
        <p>The other person will make a choice between <b>Option 1</b> and <b>Option 2</b>. As a reminder: <b>Option 1</b> always pays out €15. On the other hand, <b>Option 2</b> pays out either €{{ C.LO }} or €{{ C.HI }}. The other person will see the following table:</p>

        {{ include 'knf_globals/Options.html' }}
    </div>

    <div class="tabbable" id="tabbable3">
        <p><b>The other person does not know the exact value of <i>p</i>.</b></p>

        <p>The other person does know, however, that the value of <i>p</i> will be determined randomly. With equal probability, <i>p</i> will take on any whole percentage from 0% to and including 100%.</p>

        <p>Today you will make a decision for the other person if <i>p</i> randomly takes on the value {{ C.P }}%.</p>

        <p><small>Since there are several decision makers like you who decide about another person whose <i>p</i> takes on the value {{ C.P }}, your decision will only be implemented if you were randomly selected among all matching decision makers.</small></p>

        <p><b>You should behave in each decision as if your decision would be implemented, because maybe it will.</b></p>
    </div>

    <div class="tabbable" id="tabbable4">
        <p>You can decide below,</p>

        <ol>
            <li>whether the other person's own choice between <b>Option 1</b> and <b>Option 2</b> will be implemented or</li>
            <li>whether you will implement <b>Option 1</b> or <b>Option 2</b> and override the other person's choice.</li>
        </ol>

        <p>In any case, the other person will choose between <b>Option 1</b> and <b>Option 2</b>. You can only decide whether this own choice of the other person will be implemented.</p>

        <p>If you decide that the other person's own choice will be implemented, then the other person will receive <b>Option 1</b> or <b>Option 2</b>, depending on how they decide for themselves.</p>

        <p>If you decide to implement <b>Option 1</b> or <b>Option 2</b> and override the other person's choice, then the other person will still make a choice, but instead they will receive <b>Option 1</b> or <b>Option 2</b>, depending on how you decide today. In this case, the other person's own choice would not be taken into account.</p>
    </div>

    <div class="tabbable" id="tabbable5">
        <p>Before choosing between <b>Option 1</b> and <b>Option 2</b>, the other person may see the <span class="samples">result</span> of draws from <b>Option 2</b>.</p>

        <p>How many draws will be made for the other person is determined randomly. You will make a decision today for different numbers of draws.</p>

        <p>The draws are based on <i>p</i> = 20%. Through the <span class="samples">result</span> of the draws, the other person can learn more about <b>Option 2</b>, but they will not find out the exact value of <i>p</i>.</p>

        <p>For example, the other person could see the <span class="samples">result</span> of 5 draws:</p>

        <script>
            var k = 5, live_check = true;
        </script>

        {{ include 'knf_globals/Draws.html' }}
    </div>

    <div class="tabbable" id="tabbable6">
        <p>Before you can decide, please answer the following comprehension questions.</p>

        <p class="alert alert-info">If you answer all comprehension questions correctly on the first try and this part is selected for the payment, you will receive a bonus of €2.</p>

        {{ formfields }}

        <script>
            $(document).ready(function (e) {
                labels = document.getElementsByTagName("label");

                for (var i = 0; i < labels.length; i++) {
                    labels[i].innerHTML = labels[i].innerHTML.replaceAll("&lt;", "<").
                                          replaceAll("&gt;", ">");
                }
            });
        </script>

        {{ next_button }}
    </div>

{{ endblock }}
