{{ block title }}
    Welcome
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <div id="mobile"></div>

    <script>
        $(document).ready(function () {
            if (window.innerWidth < 800) {
                document.getElementById("mobile").innerHTML = "<p class='alert alert-danger'>This experiment is only designed for devices with a minimum screen width of 800 pixels. Please reload the experiment on such a device. It may be sufficient to maximize this window.</p>";
            }
            else {
                document.forms[0].submit();
            }
        });
    </script>

{{ endblock }}
