{{ block title }}
    Important Information
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p>In today's experiment, you will make decisions for yourself and others.</p>

    <p>Please pay full attention to the contents of the experiment. In order to receive a payment, it is necessary that you answer later comprehension questions correctly.</p>

    <p>The experiment consists of two parts (part 1 and part 2). You will only be paid for one of the two parts. With 95% probability, part 1 is relevant for the payment, and with the remaining probability, part 2 is relevant for the payment. In addition, you will receive €1 for punctual attendance.</p>

    {{ next_button }}

{{ endblock }}
