{{ block title }}
    Teil 2: Ihre eigene Entscheidung
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p><b>Zur Erinnerung</b>: Wenn <i>p</i> = {{ C.P }}% ist, sehen die Optionen wie folgt aus:</p>

    {{ include 'knf_globals/Options.html' }}

    <p>Wenn dieser Teil für die Auszahlung relevant ist, dann erhalten Sie die von Ihnen persönlich bevorzugte Option ausgezahlt.</p>

    <p class="alert alert-info">Diese Entscheidung betrifft nur Sie.</p>

    {{ formfields }}

    <script>
        $(document).ready(function (e) {
            document.getElementById("p.val").innerHTML = {{ C.P }};
            document.getElementById("else").innerHTML = "Mit <i>{{ C.NOTP }}</i>%-iger Wahrscheinlichkeit";

            labels = document.getElementsByTagName("label");

            for (var i = 0; i < labels.length; i++) {
                labels[i].innerHTML = labels[i].innerHTML.replaceAll("&lt;", "<").
                                      replaceAll("&gt;", ">");
            }
        });
    </script>

    {{ next_button }}

{{ endblock }}
