{{ block title }}
    Ende des Experiments
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p>Das Experiment ist abgeschlossen. Für Sie wurde zufällig bestimmt, dass Teil {{ teil_relevant }} für die Auszahlung relevant ist.</p>

    <p>Ihre Gesamtauszahlung beträgt <b>{{ player.payoff }}</b>. Diese setzt sich wie folgt zusammen:</p>

    <ol>
        <li>Pünktliches Erscheinen: <b>1,00&thinsp;€</b></li>
        <li>Auszahlung aus Teil {{ teil_relevant }}: <b>{{ teil_ausz | to2 }}&thinsp;€</b></li>
    </ol>

    {% if quiz and teil_relevant == 1 %}
        <p><i>In der Auszahlung für Teil 1 ist ein Bonus i.H.v. 2&thinsp;€ enthalten, da Sie die Verständnisfragen im ersten Versuch richtig beantwortet haben.</i></p>
    {% endif %}

    <p>Vielen Dank für Ihre Teilnahme.</p>

    <p>Auf der nächsten Seite gelangen Sie zum Auszahlungsformular.</p>

    {{ next_button }}

{{ endblock }}
