{{ block title }}
    Ihre Entscheidungen im heutigen Experiment
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>
    
    <script>
        $(document).ready(function () {
            document.getElementsByTagName("textarea")[0].rows = 5;
            document.getElementsByTagName("textarea")[1].rows = 5;
        });
    </script>

    <p>Wir würden uns dafür interessieren, warum Sie sich im heutigen Experiment so entschieden haben. Können Sie uns Ihre Motive mitteilen? Vielen Dank. <b>Bitte gehen Sie insbesondere darauf ein, warum Sie sich wann dafür entschieden haben, (nicht) die eigene Wahl der anderen Person umzusetzen.</b></p>
    
    <p class="alert alert-warning" style="margin-top:1em">Bitte geben Sie keine personenbezogenen Daten in den folgenden Feldern ein.</p>

    {{ formfield "statement" }}

    <p>Was glauben Sie: Welche Forschungsfrage wird mit diesem Experiment adressiert?</p>

    {{ formfield "research" }}

    {{ next_button }}

{{ endblock }}
