{{ block title }}
    Teil 2: Ihre Einschätzung
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p><b>Zur Erinnerung</b>: <i>p</i> ist die Wahrscheinlichkeit für 0&thinsp;€ in <b>Option 2</b>. <i>p</i> nimmt im zukünftigen Experiment zufällig einen ganzen Prozentsatz von 0% bis einschließlich 100% an. Der genaue Wert von <i>p</i> ist der anderen Person nicht bekannt.</p>

    <p>Stellen Sie sich vor, die andere Person sieht das folgende <span class="samples">Ergebnis</span> der Ziehungen:</p>

    <script>
        var k = 2, concrete = true, n = 0;
    </script>

    {{ include 'knf_globals/Draws.html' }}

    <p>Was glauben Sie: Von welchem Wert für <i>p</i> geht die andere Person aus?</p>

    <p><b>Bitte geben Sie uns Ihre beste Schätzung.</b></p>

    <div id="slider">{{ formfield_errors 'estimate' }}</div>

    <script src="{{ static 'otree_slider/mgslider.js' }}"></script>

    <script>
        var slider;

        $(document).ready(function (e) {
            slider = new mgslider("estimate", 0, 100, 1);

            slider.f2s_old = slider.f2s;

            slider.f2s = function (val, detect, digits) {
                return slider.f2s_old(val, detect, digits) + "%";
            }

            slider.yourvalue = "Ihre Schätzung";
            slider.print(document.getElementById("slider"));
        });
    </script>

    <style>
        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    {{ next_button }}

{{ endblock }}
