<table class="table align-middle options">
    <thead>
        <tr>
            <th width="50%" scope="col">Option 1</th>
            <th scope="col">Option 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                With 100% probability<br />
                <big>€15</big><br />
                will be received
                </p>
            </td>
            <td>
                <p>
                With <i id="p.val">p</i>% probability<br />
                <big>€{{ C.LO }}</big><br />
                will be received
                </p>
                <hr />
                <p>
                <span id="else">Otherwise</span><br />
                <big>€{{ C.HI }}</big><br />
                will be received
                </p>
            </td>
        </tr>
    </tbody>
</table>
