{{ block title }}
    Ihre Entscheidung
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p>Im heutigen Experiment treffen Sie eine Entscheidung zwischen <b>Option 1</b> und <b>Option 2</b>. In der folgenden Tabelle sind die Optionen aufgeführt:</p>

    {{ include 'knf_globals/Options.html' }}

    <p>Sie werden ggf. einer Versuchsperson aus einem vorherigen Experiment zugeordnet, die entschieden haben kann, ob Ihre Wahl zwischen <b>Option 1</b> oder <b>Option 2</b> tatsächlich umgesetzt wird. Es kann sein, dass stattdessen eine Entscheidung der Versuchsperson aus dem vorherigen Experiment umgesetzt wird.</p>

    {{ formfields }}

    <script>
        $(document).ready(function (e) {
            document.getElementById("p.val").innerHTML = {{ C.P }};
            document.getElementById("else").innerHTML = "Mit <i>{{ C.NOTP }}</i>%-iger Wahrscheinlichkeit";

            labels = document.getElementsByTagName("label");

            for (var i = 0; i < labels.length; i++) {
                labels[i].innerHTML = labels[i].innerHTML.replaceAll("&lt;", "<").
                                      replaceAll("&gt;", ">");
            }
        });
    </script>

    {{ next_button }}

{{ endblock }}
