{{ block title }}
    Ende des Experiments
{{ endblock }}
{{ block content }}
    <style>
        @import url("{{ static 'knf.css' }}");
    </style>

    <p>Das Experiment ist abgeschlossen.</p>

    <p>Ihre Gesamtauszahlung beträgt <b>{{ player.payoff }}</b>. Diese setzt sich wie folgt zusammen:</p>

    <ol>
        <li>Pünktliches Erscheinen: <b>1,00&thinsp;€</b></li>
        <li>Auszahlung aufgrund Ihrer Entscheidung: <b>{{ teil_ausz | to2 }}&thinsp;€</b></li>
    </ol>

    <p>Vielen Dank für Ihre Teilnahme.</p>

    <p>Auf der nächsten Seite gelangen Sie zum Auszahlungsformular.</p>

    {{ next_button }}

{{ endblock }}
