{% extends "Base.html" %}

{% set letter = player.known_letter %}
{% set title = "Einen Moment noch…" %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

<p>Dies ist weiterhin <b>Teil 3 von 3</b> des heutigen Experiments.</p>

{{ uproot.errors(Form.other_memory) }}

<p>Wenn Sie die folgende Frage richtig beantworten, erhalten Sie in diesem Teil zusätzlich 0.25&thinsp;€. Bitte erinnern Sie sich an Person&nbsp;{{ player.known_letter }} zurück. Person&nbsp;{{ player.known_letter }} kannte die Wahrscheinlichkeit für 0&thinsp;€ in <b>Option 2</b> nicht. Jedoch haben Sie erfahren, dass Ihre Entscheidung für Person&nbsp;{{ player.known_letter }} nur dann umgesetzt werden kann, wenn Person&nbsp;{{ player.known_letter }} eine bestimmte <b>Option</b> bevorzugt hätte, wenn sie voll informiert gewesen wäre.</p>

<div x-data="{ other_memory: -1 }">
    <p>Nehmen Sie an, Ihre Entscheidung für Person&nbsp;{{ player.known_letter }} kann umgesetzt werden.</p>
    <p>Welche <b>Option</b> hätte Person&nbsp;{{ player.known_letter }} unter Kenntnis aller Umstände bevorzugt?</p>

    <center class="mb-4">
        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (other_memory != 1), 'btn-primary': (other_memory == 1)}" @click="other_memory = 1">
            Option 1
        </button>

        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (other_memory != 2), 'btn-primary': (other_memory == 2)}" @click="other_memory = 2">
            Option 2
        </button>
    </center>

    <input name="other_memory" x-model="other_memory" type="hidden">
</div>

<style>
.choice {
    min-width: 25%;
}
</style>

{% endblock %}
