{% extends "Base.html" %}

{% set title = "Ihre Schätzung" %}

{% block main %}

<p>Dies ist <b>Teil 2 von 3</b> des heutigen Experiments. Auf dieser Seite haben Sie die Möglichkeit, durch eine präzise Schätzung <b>10&thinsp;€</b> zu gewinnen.</p>

<p>Betrachten Sie noch einmal die beiden <b>Optionen</b>:</p>

{% include "Options.html" %}

<p>Im März 2023 haben wir 300 Teilnehmern des Kölner Laboratoriums für Wirtschaftsforschung diese Wahl vorgelegt.</p>

<p><b>Bitte schätzen Sie jetzt:</b> Wie viele der 300 Teilnehmer haben <b>Option 1</b> gewählt?</p>

<div class="alert alert-primary" role="alert" x-data="{ info: false }">
    Je genauer Ihre Schätzung ist, desto höher ist Ihre Gewinnchance. Es liegt also in Ihrem eigenen Interesse, so genau wie möglich zu schätzen.

    <button class="btn btn-primary" type="button" @click="info = !info">
        Wie funktioniert das?
    </button>

    <div x-show="info">
        Wenn Ihre Schätzung <i>x</i> beträgt und der wahre (uns bekannte) Wert <i>y</i> ist, dann ist <i>p = </i>max(0, min(1, 1&thinsp;&minus;&thinsp;0.15&middot;|&thinsp;<i>x</i>&thinsp;&minus;&thinsp;<i>y</i>&thinsp;|)) die Wahrscheinlichkeit, zu gewinnen. <b>Wichtig</b>: Sie müssen diese Berechnung nicht verstehen. Es ist jedoch in Ihrem eigenen Interesse, möglichst genau zu schätzen, da dies Ihre Gewinnchancen erhöht.
    </div>
</div>

{{ uproot.errors(Form.belief1) }}

<div class="form-group" x-data="{ entry: '' }">
    <label class="uproot_formlabel" for="belief1"><label for="belief1">Ihre Schätzung</label></label>
    <small class="form-text text-muted uproot_formdesc">Geben Sie eine Zahl zwischen 0 und 300 ein.</small>

    <input id="belief1" max="300" min="0" name="belief1" type="tel" pattern="[0-9]*" inputmode="numeric" x-model="entry" value="" size="5">
    <small class="text-muted" x-show="entry != '' && entry >= 0 && entry <= 300">Das sind <b x-text="Math.round(entry/3) + '%'"></b> von 300.</small>
</div>

{% endblock %}
