{% extends "Base.html" %}

{% set title = "Ihre Schätzung" %}

{% block main %}

<p>Dies ist <b>Teil 2 von 3</b> des heutigen Experiments. Für Ihre volle Aufmerksamkeit auf dieser Seite erhalten Sie in diesem Teil noch <b>5&thinsp;€</b> zusätzlich.</p>

<p>Betrachten Sie diese beiden <b>Optionen</b>:</p>

{% with uncertain = True %}
    {% include "Options.html" %}
{% endwith %}

<div class="alert alert-danger" role="alert">
<b>Das bedeutet:</b>
Die Wahrscheinlichkeit, dass die Auszahlung bei <b>Option 2</b> gleich 0&thinsp;€ ist, ist dem Teilnehmer hier unbekannt.
</div>

<p>Im März 2023 hätten wir 300 anderen Teilnehmern des Kölner Laboratoriums für Wirtschaftsforschung diese Wahl vorlegen können.</p>

<p><b>Bitte schätzen Sie nun:</b> Wie viele der 300 Teilnehmer hätten <b>Option 1</b> gewählt?</p>

{{ uproot.errors(Form.belief2) }}

<div class="form-group" x-data="{ entry: '' }">
    <label class="uproot_formlabel" for="belief2"><label for="belief2">Ihre Schätzung</label></label>
    <small class="form-text text-muted uproot_formdesc">Geben Sie eine Zahl zwischen 0 und 300 ein.</small>

    <input id="belief2" max="300" min="0" name="belief2" type="tel" pattern="[0-9]*" inputmode="numeric" x-model="entry" value="" size="5">
    <small class="text-muted" x-show="entry != '' && entry >= 0 && entry <= 300">Das sind <b x-text="Math.round(entry/3) + '%'"></b> von 300.</small>
</div>

{% endblock %}
