{% extends "Base.html" %}

{% set title = "Einverständniserklärung" %}

{% block main %}

<h4>Titel des Experiments</h4>
<p>KNF</p>

<h4>Experimentator</h4>
<p>Max Grossmann, Universität zu Köln (<a href="mailto:experiment@lab.uni-koeln.de">experiment@lab.uni-koeln.de</a>)</p>

<div class="d-flex flex-wrap">
    <div class="mr-2 flex-fill">
        <h4>Verantwortlicher für den Datenschutz</h4>

        <p>Max Grossmann, Universität zu Köln<br />
        Albertus-Magnus-Platz<br />
        50923 Köln<br />
        E-Mail: <a href="mailto:experiment@lab.uni-koeln.de">experiment@lab.uni-koeln.de</a></p>
    </div>
    <div class="flex-fill">
        <h4>Kontaktdaten des Datenschutzbeauftragten</h4>

        <p>Datenschutzbeauftragter der Universität zu Köln<br />
        Albertus-Magnus-Platz<br />
        50923 Köln<br />
        E-Mail: <a href="mailto:dsb@verw.uni-koeln.de">dsb@verw.uni-koeln.de</a><br />
        Telefon: 0221-470-0</p>
    </div>
</div>

<h4>Ethikkommission</h4>
<p>Gesellschaft für experimentelle Wirtschaftsforschung e.V., Approval ID: RNnxiot5 (<a href="mailto:info@gfew.de">info@gfew.de</a>)</p>

<h4>Ihre Teilnahme</h4>

<p>Sie nehmen an einem wissenschaftlichen Experiment zur Entscheidungsfindung teil. Während des Experiments werden Sie Anweisungen lesen, Fragen beantworten und verschiedene Entscheidungen treffen, die sich auf Ihre eigene Auszahlung und die Auszahlung anderer Teilnehmer auswirken können.</p>

<h4>Ihre Auszahlung</h4>

<p>Sie erhalten die Auszahlung per Überweisung. Eine andere Auszahlungsmethode ist nicht möglich. Es liegt in Ihrer Verantwortung, das Auszahlungsformular am Ende des Experiments vollständig, wahrheitsgemäß und innerhalb von einer Stunde nach dem Ende des Experiments auszufüllen und den Auszahlungscode für etwaige Rückfragen zu notieren. Andernfalls können Sie leider keine Auszahlung erhalten.</p>

<p>Sie dürfen an diesem Experiment nur ein einziges Mal teilnehmen. Andernfalls erhalten Sie keine Auszahlung.</p>

<h4>Ihre Rechte</h4>

<p>Ihre Teilnahme an diesem Experiment ist freiwillig. Damit wir Ihre Daten für Forschungszwecke verwenden können, ist es erforderlich, dass Sie alle Teile des Experiments absolvieren. Sie können jederzeit und ohne Angabe von Gründen von dem Experiment zurücktreten. Wenn Sie sich für einen Rücktritt entscheiden, erhalten Sie 1&thinsp;€ für Ihr pünktliches Erscheinen, aber keine darüber hinausgehende Auszahlung. Um von der Teilnahme zurückzutreten, antworten Sie einfach auf die E-Mail, die den Link auf dieses Experiment enthielt.</p>

{{ uproot.errors(Form.consent) }}

<div x-data="{ consent: -1 }">
    <p class="mt-5">Stimmen Sie diesen Bedingungen zu?</p>

    <center class="mb-4">
        <button type="button" class="choice btn btn-lg" :class="{'btn-outline-success': (consent != 1), 'btn-success': (consent == 1)}" @click="consent = 1">
            Ja
        </button>

        <button type="button" class="choice btn btn-lg" :class="{'btn-outline-danger': (consent != 0), 'btn-danger': (consent == 0)}" @click="consent = 0">
            Nein
        </button>
    </center>

    <input name="consent" x-model="consent" type="hidden">
</div>

<style>
.choice {
    min-width: 25%;
}
</style>

{% endblock %}
