{% extends "Base.html" %}

{% set letter = Constants.LETTERS[i] %}
{% set title = "Ihre Entscheidung zu Person " + letter %}
{% set buttons = False %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

{% if player.plus %}
{{ uproot.errors(Form.intervene_info) }}
{% endif %}
{{ uproot.errors(Form.info_provided) }}

<p>Person&nbsp;{{ letter }} steht vor der Wahl zwischen <b>Option 1</b> und <b>Option 2</b>. Heute können Sie bestimmen, wie gut Person&nbsp;{{ letter }} über <b>Option 2</b> informiert ist.

{% if player.plus %}
Anschließend entscheiden Sie, ob die Wahl von Person&nbsp;{{ letter }} zwischen den <b>Optionen</b> umgesetzt wird oder ob Sie diese Wahl überschreiben.
{% else %}
Die Wahl von Person&nbsp;{{ letter }} zwischen den <b>Optionen</b> wird umgesetzt. Sie haben keine Möglichkeit, diese Wahl zu überschreiben.
{% endif %}
</p>

<p>Person&nbsp;{{ letter }} wird nicht erfahren, dass die Informationen, die sie erhält, von Ihnen festgelegt wurden.</p>

<div x-data="{ select: -1 }">
    <h2 class="mt-5">Soll Person&nbsp;{{ letter }} die Wahrscheinlichkeit für 0&thinsp;€ in <b>Option 2</b> kennen?</h2>

    <p class="text-muted">
        Klicken Sie auf die Buttons, um eine Vorschau für Person&nbsp;{{ letter }} anzuzeigen.
    </p>

    <center class="mb-5">
        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (select != {{ player.suborder2[0] | to(0) }}), 'btn-primary': (select == {{ player.suborder2[0] | to(0) }})}" @click="select = {{ player.suborder2[0] | to(0) }}">
            {% if player.suborder2[0] %}
            Nein
            {% else %}
            Ja
            {% endif %}
        </button>

        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (select != {{ player.suborder2[1] | to(0) }}), 'btn-primary': (select == {{ player.suborder2[1] | to(0) }})}" @click="select = {{ player.suborder2[1] | to(0) }}">
            {% if player.suborder2[1] %}
            Nein
            {% else %}
            Ja
            {% endif %}
        </button>
    </center>

    <input type="hidden" name="info_provided" x-model="1-select">

    <div x-show="select == {{ player.suborder2[0] | to(0) }}">
        {% with uncertain = player.suborder2[0] %}
        {% include "Options.html" %}

        {% if uncertain %}
        <p class="text-muted">In diesem Fall würde Person&nbsp;{{ letter }} nicht erfahren, wie hoch die Wahrscheinlichkeit ist, bei <b>Option 2</b> 0&thinsp;€ zu erhalten.</p>
        {% else %}
        <p class="text-muted">In diesem Fall würde Person&nbsp;{{ letter }} erfahren, wie hoch die Wahrscheinlichkeit ist, bei <b>Option 2</b> 0&thinsp;€ zu erhalten.</p>
        {% endif %}
        {% endwith %}
    </div>

    <div x-show="select == {{ player.suborder2[1] | to(0) }}">
        {% with uncertain = player.suborder2[1] %}
        {% include "Options.html" %}

        {% if uncertain %}
        <p class="text-muted">In diesem Fall würde Person&nbsp;{{ letter }} nicht erfahren, wie hoch die Wahrscheinlichkeit ist, bei <b>Option 2</b> 0&thinsp;€ zu erhalten.</p>
        {% else %}
        <p class="text-muted">In diesem Fall würde Person&nbsp;{{ letter }} erfahren, wie hoch die Wahrscheinlichkeit ist, bei <b>Option 2</b> 0&thinsp;€ zu erhalten.</p>
        {% endif %}
        {% endwith %}
    </div>

    <div x-show="select != -1">
        <div class="alert alert-primary mt-5" role="alert">
            Danach wählt Person&nbsp;{{ letter }} zwischen den <b>Optionen</b>.
        </div>

        <h2 class="mt-5">Zur Wahl von Person&nbsp;{{ letter }}</h2>

        {% if player.plus %}

        {% with fieldname = "intervene_info" %}
            {% include "Intervene.html" %}
        {% endwith %}

        {% else %}

        <p>Die <b>eigene Wahl</b> von Person&nbsp;{{ letter }} zwischen <b>Option 1</b> und <b>Option 2</b> wird umgesetzt. Sie können diese Wahl nicht überschreiben.</p>

        <div class="mt-5">
            <div class="confirm mt-4">
                <input type="submit" id="submit_button" class="btn btn-primary" name="next" value="{{ _('Continue') }}">
            </div>
        </div>

        {% endif %}
    </div>
</div>

<style>
.choice {
    min-width: 20%;
}
.confirm {
    text-align: center;
}
#intervene_here0 {
    margin-top: 0 !important;
}
#submit_button {
    margin-bottom: 25em;
}
</style>

{% endblock %}
