{% extends "Base.html" %}

{% set title = "Ablauf des heutigen Experiments" %}
{% set buttons = False %}

{% block main %}

<div x-data="{ tab: 1, ntabs: 2 }">
<!--
    <template x-for="i in ntabs">
        <button type="button" @click="tab = i">Tab <span x-text="i"></span></button>
    </template>
-->

    <div x-show="tab == 1">
        <p>Herzlich willkommen. Das heutige Experiment besteht aus drei Teilen und dauert etwa 10 Minuten.</p>

        <p>Ihre endgültige Auszahlung basiert auf der Auszahlung eines zufällig ausgewählten Teils. In der folgenden Tabelle sehen Sie die Wahrscheinlichkeit, mit der jeder Teil ausgewählt wird:</p>

        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">Teil 1</th>
                    <td>{{(100*Constants.USE1) | to(0) }}%</td>
                </tr>
                <tr>
                    <th scope="row">Teil 2</th>
                    <td>{{(100*Constants.USE2) | to(0) }}%</td>
                </tr>
                <tr>
                    <th scope="row">Teil 3</th>
                    <td>{{(100*Constants.USE3) | to(0) }}%</td>
                </tr>
            </tbody>
        </table>

        <p>Zusätzlich erhalten Sie <b>1&thinsp;€</b> für Ihr pünktliches Erscheinen. Verhalten Sie sich in jedem Teil so, als wäre er für die Auszahlung relevant.</p>

        <p>Alle Angaben in diesem Experiment sind wahrheitsgemäß.</p>
    </div>
    <div x-show="tab == 2">
        <p>Im heutigen Experiment spielt die Wahl zwischen zwei <b>Optionen</b> eine wichtige Rolle. Bitte betrachten Sie <b>Option 1</b> und <b>Option 2</b> genau:</p>

        {% include "Options.html" %}

        <p><b>Option 1</b> und <b>Option 2</b> bleiben während des gesamten Experiments gleich. In einer Wahl zwischen <b>Option 1</b> und <b>Option 2</b> kann nur eine der beiden <b>Optionen</b> gewählt werden.</p>

        <p>Klicken Sie erst auf „Weiter“, wenn Sie <b>Option 1</b> und <b>Option 2</b> verstanden haben.</p>
    </div>

    <table width="100%" border="0">
        <tr>
            <td width="50%" align="left">
                <template x-if="tab > 1">
                    <button class="btn btn-primary" type="button" @click="window.scrollTo(0, 0); tab -= 1">Zurück</button>
                </template>
            </td>
            <td width="50%" align="right">
                <template x-if="tab < ntabs">
                    <button class="btn btn-primary" type="button" @click="window.scrollTo(0, 0); tab += 1">Weiter</button>
                </template>

                <template x-if="tab == ntabs">
                    <input type="submit" class="btn btn-primary" name="next" value="Weiter">
                </template>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
