{% extends "Base.html" %}

{% set title = "Instruktionen" %}

{% block main %}

<p>Dies ist <b>Teil 3 von 3</b> des heutigen Experiments. In diesem Teil erhalten Sie mindestens <b>2&thinsp;€.</b></p>

<p>Die Wahl zwischen <b>Option 1</b> und <b>Option 2</b> wird auch von fünf weiteren Personen getroffen. <b>Heute haben Sie die Möglichkeit, die Regeln festzulegen, nach denen die anderen Personen <i>ihre</i> Wahl treffen.</b> Hier sehen Sie Illustrationen dieser fünf Personen:</p>

<center>
    {% for letter in Constants.LETTERS %}
    <img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">
    {% endfor %}
</center>

<p>Jede dieser fünf Personen wird sich in einem spezifischen Szenario befinden, das auf den folgenden Seiten beschrieben wird. Es handelt sich um fünf unterschiedliche Individuen.</p>

<div class="alert alert-danger" role="alert">
    Für jede dieser fünf Personen wird ein Teilnehmer der aktuellen Experimentreihe ausgewählt, der die Regeln für das jeweilige Szenario bestimmt. Daher könnten Ihre Entscheidungen umgesetzt werden. Ihre Entscheidungen heute können reale Auswirkungen auf echte Menschen haben. Bitte nehmen Sie Ihre Entscheidungen ernst.
</div>

<div class="alert alert-primary" role="alert">
    In jedem Fall werden alle fünf Personen eine eigene Wahl vornehmen. Jede der fünf Personen wird aber darüber informiert, dass ihre eigene Wahl möglicherweise nicht umgesetzt wird. Darüber werden Sie heute unter anderem bestimmen. Wie die fünf Personen wählen, hat für Ihre Auszahlung im heutigen Experiment keine Bedeutung.
</div>

<style>
.person {
    max-width: 40%;
}
</style>

{% endblock %}
