{% extends "Base.html" %}

{% set letter = Constants.LETTERS[i] %}
{% set title = "Ihre Entscheidung zu Person " + letter %}
{% set buttons = False %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

{% if player.order[i] == "0" %}
{{ uproot.errors(Form.intervene_0) }}
{% else %}
{{ uproot.errors(Form.intervene_inf) }}
{% endif %}

<p>Person&nbsp;{{ letter }} wird vor der Wahl zwischen <b>Option 1</b> und <b>Option 2</b> das Folgende sehen:</p>

{% if player.order[i] == "0" %}
    {% with uncertain = True %}
        {% include "Options.html" %}
    {% endwith %}
{% else %}
    {% with uncertain = False %}
        {% include "Options.html" %}
    {% endwith %}
{% endif %}

<div class="alert alert-primary" role="alert">
<b>Das bedeutet:</b>
{% if player.order[i] == "0" %}
Person&nbsp;{{ letter }} kennt zwar die möglichen Ergebnisse und die Struktur der <b>Optionen</b>, jedoch nicht die Wahrscheinlichkeit, mit der die Auszahlung in <b>Option 2</b> gleich 0&thinsp;€ ist.
{% else %}
Person&nbsp;{{ letter }} kennt die möglichen Ergebnisse, die Struktur der <b>Optionen</b> und auch die Wahrscheinlichkeit, mit der die Auszahlung in <b>Option 2</b> gleich 0&thinsp;€ ist.
{% endif %}
</div>

{% if player.order[i] == "0" %}
<p>Sie und nur Sie wissen, dass die Wahrscheinlichkeit, mit der die Auszahlung in <b>Option 2</b> gleich 0&thinsp;€ ist, tatsächlich 20% beträgt.</p>
{% endif %}

<p>Danach wählt Person&nbsp;{{ letter }} zwischen den <b>Optionen</b>.</p>

{% with fieldname = ("intervene_" + player.order[i]) %}
    {% include "Intervene.html" %}
{% endwith %}

{% endblock %}
