{% extends "Base.html" %}

{% set letter = Constants.LETTERS[i] %}
{% set title = "Ihre Entscheidung zu Person " + letter %}
{% set buttons = False %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

{{ uproot.errors(Form.intervene_known) }}

<p>Person&nbsp;{{ letter }} wird vor der Wahl zwischen <b>Option 1</b> und <b>Option 2</b> das Folgende sehen:</p>

{% with uncertain = True %}
    {% include "Options.html" %}
{% endwith %}

<div class="alert alert-primary" role="alert">
    <b>Das bedeutet:</b>
    Person&nbsp;{{ letter }} kennt zwar die möglichen Ergebnisse und die Struktur der <b>Optionen</b>, jedoch nicht die Wahrscheinlichkeit, mit der die Auszahlung bei <b>Option 2</b> genau 0&thinsp;€ beträgt.
</div>

<div class="alert alert-danger mt-5" role="alert" x-data="{ info: false }">
    Wir garantieren, dass Ihre folgende Entscheidung nur dann umgesetzt werden kann, wenn Person&nbsp;{{ letter }} in Wirklichkeit <b>Option {{ player.other }}</b> bevorzugt und, wenn sie vollständig informiert wäre, <b>Option {{ player.other }}</b> wählen würde.

    <button class="btn btn-danger" type="button" @click="info = !info">
        Woher wissen wir das?
    </button>

    <span x-show="info">
        Person&nbsp;{{ letter }} wird gefragt, wie sie bei verschiedenen möglichen Wahrscheinlichkeiten für 0&thinsp;€ in <b>Option 2</b> zwischen <b>Option 1</b> und <b>Option 2</b> wählen würde. (Welche Wahrscheinlichkeit wirklich vorliegt, erfährt Person&nbsp;{{ letter }} ja nicht.) Ihre Entscheidung heute kann nur dann umgesetzt werden, wenn Person&nbsp;{{ letter }} <b>Option {{ player.other }}</b> bevorzugt, als sie mit der Möglichkeit konfrontiert wird, dass die Wahrscheinlichkeit für 0&thinsp;€ genau 20% beträgt.
    </span>
</div>

<p class="mt-5">Danach wählt Person&nbsp;{{ letter }} zwischen den <b>Optionen</b>, ohne die tatsächliche Wahrscheinlichkeit zu kennen.</p>

<p>Sie und nur Sie wissen, dass die Wahrscheinlichkeit, mit der die Auszahlung bei <b>Option 2</b> gleich 0&thinsp;€ ist, tatsächlich 20% beträgt. Ihre Regel für Person&nbsp;{{ letter }} kann nur dann umgesetzt werden, wenn Person&nbsp;{{ letter }} unter Kenntnis aller Umstände <b>Option {{ player.other }}</b> bevorzugt hätte.</p>

{% with fieldname = "intervene_known" %}
    {% include "Intervene.html" %}
{% endwith %}

{% endblock %}
