<div class="border mb-3">
    <table class="table table-borderless align-middle options">
        <thead>
            <tr>
                <th width="48%" class="bordered">Option 1</th>
                <th scope="col"></th>
                <th width="48%" class="bordered">Option 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bordered">
                    <p>
                    Mit 100%-iger Wahrscheinlichkeit<br />
                    <big>15&thinsp;€</big><br />
                    erhalten
                    </p>
                </td>
                <td>&thinsp;</td>
                <td class="bordered">
                    <p>
                    {% if uncertain %}
                        Mit <span id="pval" class="blackout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>%-iger Wahrscheinlichkeit<br />
                    {% else %}
                        Mit <span id="pval">20</span>%-iger Wahrscheinlichkeit<br />
                    {% endif %}
                    <big>0&thinsp;€</big><br />
                    erhalten
                    </p>
                    <hr />
                    <p>
                    <span id="else">Andernfalls</span><br />
                    <big>20&thinsp;€</big><br />
                    erhalten
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
.options {
    margin-bottom: 1em;
    border: none;
    text-align: center;
}
.options .bordered {
    border-bottom: 1px solid black;
}
.blackout {
    background: #808080;
    color: #808080;
}
</style>
