{% extends "Base.html" %}

{% set title = "Ihre Wahl" %}

{% block main %}

<p>Dies ist <b>Teil 1 von 3</b> des heutigen Experiments.</p>

{% include "Options.html" %}

{{ uproot.errors(Form.own_preference) }}

<div x-data="{ own_preference: -1 }">
    <p>Welche <b>Option</b> möchten Sie in diesem Teil für sich selbst wählen?</p>

    <center class="mb-4">
        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (own_preference != 1), 'btn-primary': (own_preference == 1)}" @click="own_preference = 1">
            Option 1
        </button>

        <button type="button" class="choice intervene btn btn-lg" :class="{'btn-outline-primary': (own_preference != 2), 'btn-primary': (own_preference == 2)}" @click="own_preference = 2">
            Option 2
        </button>
    </center>

    <input name="own_preference" x-model="own_preference" type="hidden">
</div>

<style>
.choice {
    min-width: 25%;
}
</style>

{% endblock %}
