{% extends "Base.html" %}

{% set title = "" %}
{% set buttons = False %}

{% block main %}

<p>Bitte klicken Sie <a href="https://lab.uni-koeln.de/auszahlung/?m={{ Constants.METHOD }}&amp;code={{ player.payment_code }}">hier</a>, um fortzufahren.</p>

<iframe src="https://lab.uni-koeln.de/auszahlung/?code={{ player.payment_code }}&amp;m={{ Constants.METHOD }}" style="">
</iframe>

<style>
body {
    overflow-y: hidden;
}
iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
}
</style>

{% endblock %}
