{% extends "Base.html" %}

{% set title = "Ende des Experiments" %}

{% block main %}

<p>Das heutige Experiment ist nun abgeschlossen.</p>

<p>Ihre Gesamtauszahlung beträgt <b>{{ player.payoff | to(2) }}&thinsp;€</b>. Die Aufschlüsselung Ihrer Auszahlung sieht wie folgt aus:</p>

<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">Ihr pünktliches Erscheinen</th>
            <td>
                1.00&thinsp;€
            </td>
        </tr>
        <tr>
            <th scope="row">Teil 1</th>
            <td>
            {% if not player.use_payoff1 %}
            <small class="text-muted">Nicht zur Auszahlung bestimmt</small>
            {% else %}
            {{ player.payoffs[0] | to(2) }}&thinsp;€
            {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Teil 2</th>
            <td>
            {% if not player.use_payoff2 %}
            <small class="text-muted">Nicht zur Auszahlung bestimmt</small>
            {% else %}
            {{ player.payoffs[1] | to(2) }}&thinsp;€
            {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">Teil 3</th>
            <td>
            {% if not player.use_payoff3 %}
            <small class="text-muted">Nicht zur Auszahlung bestimmt</small>
            {% else %}
            {{ player.payoffs[2] | to(2) }}&thinsp;€
            {% endif %}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td scope="row">Gesamtauszahlung</td>
            <td>
            {{ player.payoff | to(2) }}&thinsp;€
            </td>
        </tr>
    </tfoot>
</table>

<p>Wir danken Ihnen herzlich für Ihre Teilnahme.</p>

<p>Bitte tragen Sie sich innerhalb der nächsten Stunde in das folgende Auszahlungsformular ein.</p>

{% if Constants.DEMO %}
<h2>Daten</h2>

<p class="text-muted">Von SHKs zu überprüfen:</p>

<table class="table table-hover">
    <tbody>
        {% for f in fields %}
        <tr>
            <th scope="row" class="font-monospace">{{ f }}</th>
            <td class="font-monospace">{{ player.latest(f) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
