{% extends "Base.html" %}

{% set letter = Constants.LETTERS[i] %}
{% set title = "Ihre Entscheidung zu Person " + letter %}
{% set buttons = False %}

{% block main %}
<img class="person" src='{{ static(player.colors[letter] + "+" + letter + ".png") }}' width="220" title="Person&nbsp;{{ letter }}" alt="Person&nbsp;{{ letter }}">

{{ uproot.errors(Form.intervene_uncertain) }}

<p>Person&nbsp;{{ letter }} steht ebenfalls vor der Wahl zwischen <b>Option 1</b> und <b>Option 2</b>. Allerdings ist es dem Zufall überlassen, wie gut Person&nbsp;{{ letter }} über <b>Option 2</b> informiert ist. Mit einer Wahrscheinlichkeit von 50% sieht Person&nbsp;{{ letter }} folgendes:</p>

{% with uncertain = player.suborder[0] %}
    {% include "Options.html" %}

    {% if uncertain %}
    <p class="text-muted">In diesem Fall wäre Person&nbsp;{{ letter }} nicht über die Wahrscheinlichkeit informiert, bei <b>Option 2</b> 0&thinsp;€ zu erhalten.</p>
    {% else %}
    <p class="text-muted">In diesem Fall wäre Person&nbsp;{{ letter }} über die Wahrscheinlichkeit informiert, bei <b>Option 2</b> 0&thinsp;€ zu erhalten.</p>
    {% endif %}
{% endwith %}

<p class="mt-5">Andernfalls erhält Person&nbsp;{{ letter }} diese Informationen:</p>

{% with uncertain = player.suborder[1] %}
    {% include "Options.html" %}

    {% if uncertain %}
    <p class="text-muted">In diesem Fall wäre Person&nbsp;{{ letter }} nicht über die Wahrscheinlichkeit informiert, bei <b>Option 2</b> 0&thinsp;€ zu erhalten.</p>
    {% else %}
    <p class="text-muted">In diesem Fall wäre Person&nbsp;{{ letter }} über die Wahrscheinlichkeit informiert, bei <b>Option 2</b> 0&thinsp;€ zu erhalten.</p>
    {% endif %}
{% endwith %}

<div class="alert alert-primary mt-5" role="alert">
Sie wissen, dass die Wahrscheinlichkeit, mit der die Auszahlung bei <b>Option 2</b> 0&thinsp;€ beträgt, tatsächlich 20% ist. Ob Person&nbsp;{{ letter }} dies ebenfalls weiß, hängt vom Zufall ab. Es ist vergleichbar mit einem Münzwurf: Entweder ist Person&nbsp;{{ letter }} informiert oder nicht. Es ist also noch ungewiss, wie gut Person&nbsp;{{ letter }} informiert ist.
</div>

<p>Danach wählt Person&nbsp;{{ letter }} zwischen den <b>Optionen</b>.</p>

{% with fieldname = "intervene_uncertain" %}
    {% include "Intervene.html" %}
{% endwith %}

{% endblock %}
